<div class="modal-header">
  <h4 class="modal-title pull-left"><i class="fa fa-plus"></i> {{ '#Create program' | dgTranslate }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" [disabled]="isLoading" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label>{{ '#Search template' | dgTranslate }}</label>
				<tpc-input-autocomplete
					[data]="templates"
					label="{{ '#Search template' | dgTranslate }}"
					type="template"
					[clear]="false"
					(onCleared)="onCleared($event)"
					(handleOnChangeSearch)="onChangeSearch($event)"
					(onSelectedItem)="onSelectedItem($event)"></tpc-input-autocomplete>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label>{{ '#Name' | dgTranslate }}</label>
				<input placeholder="{{ '#My program name' | dgTranslate }}" [class.is-invalid]="errors.name" (input)="errors.name=false"  [(ngModel)]="modelProgram.name" type="text" autocomplete="off" class="form-control">
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label>{{ '#Description' | dgTranslate }} <small>({{ '#Optional' | dgTranslate }})</small></label>
				<textarea placeholder="{{ '#My program description' | dgTranslate }}" [class.is-invalid]="errors.description" (input)="errors.description=false"  [(ngModel)]="modelProgram.description" class="form-control"></textarea>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-light mr-4" [disabled]="isLoading" (click)="cancel()">
		<i class="fa fa-close"></i> {{ '#Cancel' | dgTranslate }}
	</button>
	<button class="btn btn-primary" [disabled]="isLoading" (click)="save()">
		<i class="fa fa-save"></i>
		{{ '#Save' | dgTranslate }}
	</button>
</div>
