.btn-group-toggle {
  a {
    text-decoration: none;
  }
}

.calendar-top {
    float: right;
    padding-right: 30px;

    @media (max-width: 480px) {
      padding: 0 15px;
    }

  .form-inline {
    float: right;
  }
}

.tpc-circle {
  background: #161616;
  position: relative;
  z-index: 2;

  @media (max-width: 480px) {
    background: transparent;
  }
}

@media (min-width: 768px) {
  .top-stats {
    .col-md-2 {
      flex: 0 0 26%;
      max-width: 26%;
    }

    .col-md-5 {
      flex: 0 0 37%;
      max-width: 37%;
    }
  }
}

.container-stats {
  background: #f1f1f1;

  .box-stats-right {
    border-radius: 5px;
    background-color: #ffffff;
    min-height: 500px;
    padding: 10px;
    margin: 20px;
    margin-left: 0;
  }

  .box-stats-left {
    border-radius: 5px;
    background-color: #ffffff;
    min-height: 500px;
    padding: 10px;
    margin: 20px;
    margin-right: 0;
  }
}

.readiness-breakdown {
  .diet-color {
    background-color:#D44000;
  }

  .sleep-color {
    background-color:#000;
  }

  .energy-color {
    background-color:#c1c1c1;
  }

  .mood-color {
    background-color:#e37242;
  }

  .stress-color {
    background-color:#8d6767;
  }

  .image-txt-container {
    display: block;
  }

  .logo_category {
    width: 50px;
    height: 50px;
    padding: 3px;
    background-color: rgba(216, 216, 216, 0.55);
    border-radius: 50%;
    object-fit: contain;
  }

  .container-label {
    display: inline-block;
  }

  .category {
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;

    .category-square {
      font-size: 10px;
      display: inline-block;
      line-height: 45px;
      vertical-align: top;
      font-weight: 400;
    }
  }

  .event {
    width: 238px;
    height: 17px;
    margin: 0 0 6px;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: #000000;
  }

  .height-progress {
    height: 5.2px;
  }
}

@media (max-width: 480px) {
  .container-stats {
    .box-stats-left {
      padding: 0px;
      margin: 0px;
      background-color: transparent !important;
      min-height: auto;
    }
    .box-stats-right {
      margin: 20px 0 60px 0;
    }
  }

  .readiness-breakdown {
    .event {
      width: auto;
    }
  }
}
