<div class="nav-bottom-header">
  <div class="content-header">
    <button class="hidden-mobile btn btn-primary float-right mr-4" (click)="openInvitationCreateModal()">
      <i class="fa fa-plus"></i> {{ "#Add an athlet" | dgTranslate }}
    </button>

    <ul class="navbar-nav flex-row mb-md-1 mt-md-0 mb-3 mt-2 justify-content-center">
      <li class="nav-item">
        <a
          class="nav-link py-0 d-flex"
          (click)="setActiveTab('planning')"
          [routerLink]="this.links.planning"
          [ngClass]="{ 'active': activeTab == 'planning' }"
        >
          <span>{{ "#Planning" | dgTranslate }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link py-0 d-flex"
          (click)="setActiveTab('performance')"
          [routerLink]="this.links.performance"
          [ngClass]="{ 'active': activeTab == 'performance' }"
        >
          <span> {{ "#Fatigue" | dgTranslate }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link py-0 d-flex"
          (click)="setActiveTab('wellness')"
          [routerLink]="this.links.wellness"
          [ngClass]="{ 'active': activeTab == 'wellness' }"
        >
          <span> {{ "#Wellness" | dgTranslate }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
