.bg-light-black {
  background: #161616;
}

.athlete-menu-items {
  padding: 25px 0 15px;

  .athlete-menu-item {
    padding: 0 40px;
  }

  .nav-elem {
    padding-top: 25px;

    .nav-link {
      border-bottom: solid 3px transparent;
      text-transform: uppercase;
      padding-bottom: 10px !important;
      font-size: 14px;
      text-decoration: none !important;
      color: #e1e1e1;

      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &.active {
        border-bottom: solid 3px #d44000;
      }
    }
  }
}


.nav-header-banner {
  background: #000;
  color: #fff;
  position: relative;
  min-height: 70px;

  .description {
    max-width: 470px;
    margin: 0 auto;
    text-align: center;
  }

  .btn--profile {
    position: absolute;
    right: 0;
    top: calc(50% - 18px);
  }
}

.fatigue-management-banner {
  .circle-content {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    vertical-align: top;
    z-index: 2;
    text-align: center;

    .logo {
      position: absolute;
      top: 0;
      left: 35px;
      font-size: 10px;
      width: 32px;
      height: 32px;

      &.logo-rpe {
        width: auto;
      }
    }

    .percentage {
      display: block;
      margin-top: 25px;
      font-size: 40px;
      color: #fff;
    }

    .sessions{
      font-size: 12px;
      margin-top: -7px;
    }
  }

  .title {
    color: #fff;
    text-align: center;
  }

  .subtitle {
    color: #777;
    text-align: center;
    padding: 10px 40px 20px;
    line-height: 19px;

    @media (max-width: 480px) {
      padding: 10px 10px 20px;
      line-height: 17px;
    }
  }

  .descriptions {
    display: inline-block;
    padding-left: 30px;
    vertical-align: top;
    padding-top: 20px;

    &.descriptions--no-padding {
      padding-top: 0 !important;
    }

    .title {
      padding-top: 20px;

      +.title {
        padding-top: 0;
      }
    }
  }

  @media (max-width: 480px) {
    width: 100%;
    display: block;

    .descriptions {
      display: block;
      width: 100%;
      padding-top: 0;
    }
  }
}

.tpc-circle--load, .tpc-circle--fitness {
  .title {
    top: 40px;
    background: transparent;
    padding: 0;
    font-size: 17px;
    margin: 0 auto;
    display: block;
    position: relative;
    text-align: center;
  }
}

.tpc-optimal-zone {
  width: 230px;
  height: 120px;

  .optimal-zone--left {
    width: 60px;
    height: 50px;
  }

  .optimal-zone--right {
    width: 60px;
    height: 50px;
  }

  .optimal-zone {
    .title {
      font-size: 20px;
    }
  }

  .score {
    top: 70px;
    width: 70px;

    .value {
      width: 80px;
      font-size: 15px;
    }
  }

  .energy-score {
    margin-left: -10px;
    float: left;
  }

  .rpe-score {
    margin-right: 0;
    float: right;
  }
}

@media (max-width: 480px) {
  .bg-light-black {
    background: #000;
  }

  .tpc-optimal-zone {
    .optimal-zone {
      .title {
        background: #000;
      }
    }
  }

  .nav-header-banner {

    .justify-content-center {
      font-size: 13px;
      margin: 0 15px;
      text-align: center;
    }
  }

  .nav-bottom-header {
    padding: 0;
    top: 58px;

    .content-header {

      .navbar-nav {
        margin: 0 !important;
        background: #000;
        padding: 15px 0;

        .nav-item {
          text-align: center;

          &:last-child {
            a {
              margin-right: 0 !important;
            }
          }
        }
      }

      .nav-link {
        font-size: 12px;
        padding-bottom: 5px !important;
        text-transform: uppercase;
        text-decoration: none;
        color: #e1e1e1;
        display: inline-block;
        text-align: center;

        &.active {
          border-bottom: 2px solid #d44000;
        }
      }
    }
  }

  .hidden-mobile {
    display: none;
  }

  .athlete-menu-items {
    .athlete-menu-item {
      padding: 0;
    }
  }

  .tpc-circle {
    .c100 {
      font-size: 200px;
    }

    .circle-content {
      width: 160px;
      height: 160px;

      .percentage {
        margin-top: 50px;
      }

      .logo {
        top: 10px;
        left: calc(50% - 25px);
        width: 50px;
        height: 50px;

        &.logo-rpe {
          left: calc(50% - 18px);
        }
      }
    }

    .title {
      top: 70px;
      font-size: 27px;
      line-height: 30px;
    }
  }
}
