<app-athlete-dashboard-menu [activeTab]="activeTab" [activeSubTab]="activeSubTab" [isFromUrl]="isFromUrl"></app-athlete-dashboard-menu>

<div class="container-fluid background-gray">

  <div class="row">
    <div class="col-md-2 row--tabs">

      <div class="tabs">
        <div (click)="setActiveSubTab('fitness')" [ngClass]="[activeSubTab == 'fitness' ? 'tab active' : 'tab']">
          <div class="value {{ fatigueManagement.colors.fitness.color1 }}">{{ fatigueManagement.fitness.fitness }}</div><div class="title">{{"#Fitness" | dgTranslate }}</div>
        </div>
        <div (click)="setActiveSubTab('energyScore')" [ngClass]="[activeSubTab == 'energyScore' ? 'tab active' : 'tab']">
          <div class="value {{ fatigueManagement.colors.fitness.color2 }}">{{ fatigueManagement.fitness.energyScore }}%</div><div class="title">{{"#Energy score" | dgTranslate }}</div>
        </div>
      </div>

    </div>

    <div class="col-md-10">
      <div [ngClass]="[size <= responsiveSize ? 'row' : 'row pt-4 ml-2']">
        <div class="col-md-12 calendar-top">
          <div class="float-left">
            <app-customer-stats-range [isFromUrl]="isFromUrl" [keepDates]="keepDates"></app-customer-stats-range>
          </div>
        </div>
      </div>

      <app-athlete-stats-fatigue-management [isFromUrl]="isFromUrl" [keepDates]="keepDates"></app-athlete-stats-fatigue-management>
    </div>
  </div>
</div>
