.badge-purple {
  color: #fff;
  background-color: #9953c9;
}
.height-progress {
  height: 5.2px;
}
.logo_category {
  width: 44px;
  height: 44px;
  object-fit: contain;
}
.oval {
  width: 50px;
  height: 50px;
  padding: 3px;
  background-color: rgba(216, 216, 216, 0.55);
  border-radius: 50%;
}

.event {
  width: 238px;
  height: 17px;
  margin: 0 0 6px;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.53px;
  color: #000000;
}
.event-number {
  width: 238px;
  height: 12px;
  margin: 6px 0 0;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.39px;
  color: #525252;
}
.event-exercices {
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.39px;
  color: #525252;
}

.image-txt-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cardio-bar {
  background-color: #8d6767;
}
.stretching-bar {
  background-color: #e37242;
}
.plyometrics-bar {
  background-color: #c1c1c1;
}
.power-bar {
  background-color: #000000;
}
.strenght-bar {
  background-color: #d44000;
}
.others-bar {
  background-color: blue;
}
.weightlifting-bar {
  background-color: green;
}
@media (max-width: 480px) {
  .container-label {
    .event {
      font-size: 14px;
    }
  }
  .category {
    margin-left: -75px;
  }
}
