<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 pt-4">
      <div id="navbar-planning">
        <div class="input-group calendar-top float-left mr-2">
          <input class="form-control calendar" name="dp" (ngModelChange)="onDateSelected($event)" (click)="d.toggle()"
            [ngModel]="startedAtModel" ngbDatepicker #d="ngbDatepicker" />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="d.toggle()"
                type="button"
              >
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        <div class="date-title">{{ currentMonth | uppercase }}</div>

        <div class="switch-planning">
          <div class="custom-control custom-switch">
            <label class="switch-planning--label" for="custom-switch-planning">Planification</label>
            <input type="checkbox" class="custom-control-input" id="custom-switch-planning" [(ngModel)]="switchPlanning">
            <label class="custom-control-label custom-control-label--red" for="custom-switch-planning"></label>
          </div>
        </div>

        <label class="float-right label-comment">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="hideLocalBox">
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              {{ '#Show comments' | dgTranslate }}
            </label>
          </div>
        </label>

      </div>

      <div *ngIf="switchPlanning" class="planning-gantt">
        <div (click)="openPlanningAddModal()" class="planning-content" [ngStyle]="{'height.px': totalPlanningHeight}">
          <div class="month" *ngFor="let planningMonth of planningMonthes"><label>{{ planningMonth.name }}</label></div>

          <ng-container *ngFor="let planning of plannings">
            <div class="planning" [ngStyle]="{'left.px': planning.style.left, 'width.px': planning.style.width, 'top.px': planning.style.top}">
              <label>{{ planning.name }}</label>
              <div class="float-right">
                <i class="fa fa-pencil i-btn mr-4" placement="top" ngbTooltip="{{ '#Edit' | dgTranslate }}" (click)="$event.stopPropagation();openPlanningEditModal(planning.planning_id);t.close()" #t="ngbTooltip"></i>
                <i #d="ngbTooltip" class="fa fa-trash i-btn pze-ez" placement="top" ngbTooltip="{{ '#Delete' | dgTranslate }}" (click)="$event.stopPropagation();openPlanningDeleteModal(planning.planning_id);d.close()"></i>
              </div>
            </div>
          </ng-container>
          <div *ngIf="showNowPosition" class="cursor-now" [ngStyle]="{'left.px': nowLeftPosition}"></div>
        </div>
      </div>

      <div id="fixed-calendar-planning" cdkScrollable>
        <div *ngFor="let week of weeks; let y = index" class="row calendar-planning">
          <div *ngFor="let day of week; let i = index" class="col box-header-template">
            <div class="box-header-template-day text-color-box text-left">
              <i *ngIf="!copyWorkouts.length" class="fa fa-plus add-workout-btn ml-1 float-right" placement="top"
                ngbTooltip="{{ '#Add workout' | dgTranslate }}" (click)="addWorkoutToWeek(day, i, y); t.close()"
                #t="ngbTooltip"></i>
              <div *ngIf="copyWorkouts.length" ngbDropdown class="dropdown-menu">
                <i class="fa fa-plus add-workout-btn ml-1" ngbDropdownToggle placement="top"
                  ngbTooltip="{{ '#Add workout' | dgTranslate }}"></i>
                <button ngbDropdownItem (click)="pasteWorkout(day.workouts, i, y)">
                  <i class="fa fa-paste"></i>
                  {{ "#Paste workout" | dgTranslate }}
                </button>
                <button ngbDropdownItem (click)="addWorkoutToWeek(day, i, y)">
                  <i class="fa fa-plus"></i> {{ "#Add workout" | dgTranslate }}
                </button>
              </div>

              {{ day.day }}
              <div class="week-scroll" [attr.data-date]="day.monthText + ' ' + day.year"></div>
            </div>

            <div class="box-body-template-day" [class.box-body-week-active]="hover['w-' + i]">
              <div
                cdkDropList
                id="workouts-{{ y > 0 ? y*7+i : i }}"
                (cdkDropListDropped)="drop($event)"
                [cdkDropListData]="day.workouts"
                [cdkDropListConnectedTo]="getConnectedList('workouts')"
              >
                <div cdkDropListGroup cdkDrag [cdkDragData]="workout" class="box-body-workout" [class.box-body-workout-active]="
                    hover[i + '-' + y + '-' + in]
                  " *ngFor="let workout of day.workouts; let in = index">
                  <div class="checkbox float-left">
                    <label>
                      <input type="checkbox" (change)="
                          onChangeSelection(
                            $event,
                            i + '-' + y + '-' + in,
                            workout
                          )
                        " [(ngModel)]="selectedWorkouts[i + '-' + y + '-' + in]" />
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                    </label>
                  </div>

                  <div (click)="markAsOver(i + '-' + y + '-' + in, 'w-' + i)">
                    <h6>

                      <i class="fa fa-arrows i-btn float-right"
                         *ngIf="!showFooterAction"
                         placement="top"
                         cdkDragHandle
                         ngbTooltip="{{ '#Move workout' | dgTranslate }}: {{ workout.name | dgTranslate }}"></i>

                      <input  type="text" placeholder="{{ '#Workout name' | dgTranslate }}"
                        class="box-body-workout-inputs ml-4" [autofocus]="true" [(ngModel)]="workout.name" />
                      <span class="box-body-workout-views ml-4" placement="top" ngbTooltip="{{ workout.name }}">
                        {{ workout.name }}</span>
                    </h6>

                    <div *ngIf="hover[i + '-' + y + '-' + in] && !showFooterAction"
                      class="action-workout-box text-center">
                      <i *ngIf="false" class="fa fa-copy i-btn ml-4 mr-4" placement="top"
                        ngbTooltip="{{ '#Duplicate' | dgTranslate }}" #t="ngbTooltip"
                        (click)="duplicateWorkout(workout); t.close()"></i>
                    </div>
                    <button *ngIf="day.day == startedAtModel.day && day.month == startedAtModel.month"
                            [ngClass]="workout.is_session_started ? 'btn-secondary' : 'btn-primary'"
                            class="btn start-session"
                            (click)="openStartSessionModal(workout, day)">
                      {{ workout.is_session_started ? ("#Update Session" | dgTranslate) : ("#Start Session" | dgTranslate) }}
                    </button>
                    <ul class="list-group list-cdk"
                        cdkDropList
                        id="exercices-{{ i + '-' + y + '-' + in }}"
                        [cdkDropListData]="workout.program.exercices"
                        (cdkDropListDropped)="drop($event)"
                        [cdkDropListConnectedTo]="getConnectedExercicesList()"
                    >
                      <li class="list-group-item box-exercice" *ngFor="
                          let exercice of workout.program.exercices;
                          let indexExercice = index
                        " cdkDrag [cdkDragStartDelay]="250">
                        <div class="action-workout-box-execrice float-right" *ngIf="
                            hover[i + '-' + y + '-' + in] && !showFooterAction
                          ">
                          <i class="fa fa-pencil i-btn mr-4" placement="top" ngbTooltip="{{ '#Edit' | dgTranslate }}"
                            (click)="
                              openExerciceManagerModal(exercice, workout, day);
                              t.close()
                            " #t="ngbTooltip"></i>
                          <i #d="ngbTooltip" class="fa fa-trash i-btn pze-ez" placement="top"
                            ngbTooltip="{{ '#Delete' | dgTranslate }}" (click)="
                              openExerciceDeleteModal(
                                exercice,
                                indexExercice,
                                workout.program.exercices,
                                workout
                              );
                              d.close()
                            "></i>
                        </div>

                        <app-athlete-movement-list [class]="'athlete-calendar'" [exercice]="exercice" [hideLocalBox]="hideLocalBox"></app-athlete-movement-list>

                      </li>
                    </ul>
                  </div>
                  <div class="bg-white text-center pt-0" *ngIf="day.workouts.length">
                    <button class="btn btn-block add-exercice mt-0" (click)="addExerciceToWorkout(
                      day,
                      workout.program.exercices,
                      workout
                    );">
                      {{"#Add an exercice" | dgTranslate }}
                    </button>
                  </div>
                </div>

                <div class="box-body-workout" *ngIf="day.workouts.length && showPasteCopiedWorkouts">
                  <div class="paste-zone-workouts"
                    (click)="pasteCopiedWorkouts(day.workouts, day)">
                    {{ "#Paste Workouts" | dgTranslate }}
                  </div>
                </div>

                <div *ngIf="day.workouts.length === 0" class="zone-drop-legal">
                  <div class="paste-zone-workouts" *ngIf="showPasteCopiedWorkouts"
                    (click)="pasteCopiedWorkouts(day.workouts, day)">
                    {{ "#Paste Workouts" | dgTranslate }}
                  </div>
                </div>


              </div>

            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showFooterAction" class="footer-action">
        <div class="footer-item-actions">
          {{ "#Workouts Selected" | dgTranslate }}: {{ selectedWorkoutsCount }}
          <button class="btn mr-xs-4 ml-xs-4 mr-md-4 ml-md-4" placement="top"
            ngbTooltip="{{ '#Duplicate' | dgTranslate }}" (click)="showCopyBoxes()">
            <i class="fa fa-copy"></i>
          </button>
          <button class="btn mr-xs-4 mr-md-4" placement="top" ngbTooltip="{{ '#Delete' | dgTranslate }}" #t="ngbTooltip"
            (click)="openCopiedWorkoutDeleteModal(); t.close()">
            <i class="fa fa-trash"></i>
          </button>
          <button class="btn mr-xs-4 mr-md-4" placement="top" ngbTooltip="{{ '#Close' | dgTranslate }}"
            (click)="closeFooterActions()">
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
