.calendar-box-office {
    width: 100%;
    background: #F1F1F1;
    min-height: 400px;
    padding: 10px 8px;
}

.calendar-planning {
    background: #F1F1F1;

	.col {
		border: 0;
		padding: 10px 5px;

		.box-workout {
			width: 100%;
		    background: #FFFFFF;
		    margin: 10px 0;
		    min-height: 200px;
		    border-radius: 20px;
		}
	}
}

#fixed-calendar-planning {
	max-height: 600px;
	overflow: scroll;
	padding: 20px 30px;
	width: 100%;
}

.box-header-template {
	border: solid 1px #BBB;
	min-height: 200px;
	padding: 0;

	.box-header-template-day {
		background-color: #FFF;
	    padding: 4px 10px;
	    font-weight: 600;
	    min-height: 28px;
	    color: #333;
	    border: solid 1px #FFF;
	    border-bottom: solid 1px #F1F1F1;
	    border-radius: 8px 8px 0 0;
	}
}

.box-body-workout:last-child {
	border-radius: 0 0 8px 8px;
}

.box-body-workout {
    background-color: #FFF;
    padding: 8px 7px;
    font-size: 9px;
}

.zone-drop-legal {
	min-height: 70%;
    width: 95%;
    background-color: #FFF;
    padding: 6px;
    margin: 0 8px;
    margin-bottom: 10px;
    left: -3px;
    position: absolute;
    border-radius: 0 0 8px 8px;
}

.paste-zone-workouts {
	border: dashed 3px #919191;
	background: #F1F1F1;
	text-align: center;
	padding: 20px 10px;
	font-size: 14px;
	font-weight: 600;
}

.text-color-box {
	font-size: 12px;
	color: #F1F1F1;
}

.add-workout-btn, .i-btn {
	cursor: pointer;
}

.add-workout-btn {
	color: #d44000;
    border: solid 1px #FFFF;
    padding: 4px 5px;
    border-radius: 11px;
    margin-right: -8px;
    font-size: 10px;
    background-color: #FFF;
}

.dropdown-toggle::after {
	content: none;
}

.action-workout-box {
	background-color: #FFFFFF;
	margin: 8px 5px;
	padding: 5px;

	i {
		font-size: 14px
	}
}

.action-workout-box-execrice {
	background-color: #FFFFFF;
	padding: 5px;
	margin: 8px 0;
	z-index: 1000;

	i {
		font-size: 14px
	}
}

.box-exercice {
	padding: 0;
    border: 0;
    background: none;
}

.box-exercice:hover {
	background-color: #F9F9F9;
}

.box-body-workout-inputs {
	display: none;
}

.box-body-workout-inputs {
	color: #555555;
	width: 80%;
    background-color: #F1F1F1;
    border: none;
}

.box-body-exercice-inputs {
	width: 100%;
	font-size: 13px;
	margin-left: 0;
    border: none;
}

.zone-rest-day {
	display: block;
	padding: 5px 8px;

	h5 {
		font-size: 15px;
		font-weight: 600;
		padding-bottom: 4px;
		border-bottom: solid 1px #F1F1F1;
	}

	textarea.textarea-restday {
		width: 95%;
		font-size: 11px;
		min-height: 40px;
		border: none;
	}
}

.view-description-restday {
	min-height: 50px;
	font-size: 9px;
}

.box-body-workout-views, .box-body-workout-inputs {
	margin-left: 30px !important;
    font-size: 14px;
    font-weight: 600;
}

.box-body-week-active {
	.zone-drop-legal {
		width: 400px;
	    position: relative;
	    height: 100px;
	}

	.zone-rest-day {
		width: 400px;
	}

	.view-description-restday-inputs{
		width: 400px;
		display: block;
	}

	.box-body-workout-active {
		width: 400px;
		border: solid 3px #333;

		.box-body-workout-inputs, .box-body-exercice-inputs {
			display: inline-block;
		}

		.box-body-workout-views {
			display: none;
		}

		.zone-rest-day.box-body-rest-active {
			width: 400px;

		}
	}

	.zone-rest-day.box-body-rest-active {
		border: solid 3px #333;
	}

	.box-body-workout {
		width: 400px;
	}
}

.movement-container {
	background-color: #FFFFFF;
    padding: 10px;
    font-size: 12px;
    border-left: solid 3px #d44000;
	margin-bottom: 10px;
	min-height: 40px;

	.movement-title {
		font-weight: 700;
    	margin-bottom: 8px;
	}

	.movement-content {
		font-weight: 100;
	}
}

.container-calendar-template {
	margin-bottom: 100px;
}

.movement-type-1 {
	border-left: solid 5px #666666;
}
.movement-type-2 {
	border-left: solid 5px #D44000;
}
.movement-type-3 {
	border-left: solid 5px #000000;
}
.movement-type-4 {
	border-left: solid 5px #000000;
}
.movement-type-5 {
	border-left: solid 5px #000000;
}
.movement-type-6 {
	border-left: solid 5px #C1C1C1;
}
.movement-type-7 {
	border-left: solid 5px #8D6767;
}
.movement-type-8 {
	border-left: solid 5px #E37242;
}

.footer-action {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d44000;
  color: white;
  text-align: center;
  height: 70px;

  .footer-item-actions {
		margin: 15px;
	    font-size: 19px;
	    font-weight: 500;
	    color: #FFFFFF;

	    i {
	    	color: #FFFFFF !important;
	    }
	}
}

/* Style the navbar */
#navbar-planning {
	// overflow: hidden;
  background-color: #F1F1F1;
  z-index: 1;
  width: 106%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -10px;
	padding: 20px 30px 10px;

  .date-title {
  	font-size: 13pt;
  	font-weight: bold;
  	margin-left: 10px;
  	margin-top: 7px;
  }
}



/* Navbar links */
#navbar-planning a {
  float: left;
  display: block;
  color: #999;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
	left: 0;
	right: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 295px;
}

.see-stats {
	margin-right: 60px;
}

#footer-scroll {
	height: 100px;
}

.box-body-workout {
    background-color: #FFF;
    padding: 8px 7px;
    font-size: 9px;
}


.paste-zone-workouts {
	border: dashed 3px #919191;
	background: #F1F1F1;
	text-align: center;
	padding: 20px 10px;
	font-size: 14px;
	font-weight: 600;
}

.text-color-box {
	font-size: 12px;
	color: #F1F1F1;
}

.add-workout-btn, .i-btn {
	cursor: pointer;
}

.add-workout-btn {
	color: #d44000;
    border: solid 1px #FFFF;
    padding: 4px 5px;
    border-radius: 11px;
    margin-right: -8px;
    font-size: 10px;
    background-color: #F1F1F0;
}

.dropdown-toggle::after {
	content: none;
}


.box-exercice {
	padding: 0;
    border: 0;
    background: none;
}

.box-exercice:hover {
	background-color: #F9F9F9;
}

.box-body-workout-inputs {
	display: none;
}

.box-body-workout-inputs {
	color: #555555;
	width: 80%;
    background-color: #F1F1F1;
    border: none;
}

.box-body-exercice-inputs {
	width: 100%;
	font-size: 13px;
	margin-left: 0;
    border: none;
}

.zone-rest-day {
	display: block;
	padding: 5px 8px;

	h5 {
		font-size: 15px;
		font-weight: 600;
		padding-bottom: 4px;
		border-bottom: solid 1px #F1F1F1;
	}

	textarea.textarea-restday {
		width: 95%;
		font-size: 11px;
		min-height: 40px;
		border: none;
	}
}



.view-description-restday {
	min-height: 50px;
	font-size: 9px;
}

.box-body-workout-views, .box-body-workout-inputs {
	margin-left: 30px !important;
    font-size: 14px;
    font-weight: 600;
}

.box-body-week-active {
	.zone-drop-legal {
		width: 400px;
	    position: relative;
	    height: 100px;
	}

	.zone-rest-day {
		width: 400px;
	}

	.view-description-restday-inputs{
		width: 400px;
		display: block;
	}

	.box-body-workout-active {
		width: 400px;
		border: solid 3px #333;

		.box-body-workout-inputs, .box-body-exercice-inputs {
			display: inline-block;
		}

		.box-body-workout-views {
			display: none;
		}

		.zone-rest-day.box-body-rest-active {
			width: 400px;

		}
	}

	.zone-rest-day.box-body-rest-active {
		border: solid 3px #333;
	}

	.box-body-workout {
		width: 400px;
	}
}

.movement-container {
	background-color: #FFFFFF;
    padding: 10px;
    font-size: 12px;
    border-left: solid 3px #d44000;
	margin-bottom: 10px;
	min-height: 40px;
	// -webkit-backdrop-filter: blur(20px);
	// backdrop-filter: blur(20px);
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
	background-color: #ffffff;

	.movement-title {
		font-weight: 700;
    	margin-bottom: 8px;
	}

	.movement-content {

	}
}

.container-calendar-template {
	margin-bottom: 100px;
}

.movement-type-1 {
	border-left: solid 5px #FF0000;
}
.movement-type-2 {
	border-left: solid 5px #FFFF00;
}
.movement-type-3 {
	border-left: solid 5px #00FF00;
}
.movement-type-4 {
	border-left: solid 5px #00FFFF;
}
.movement-type-5 {
	border-left: solid 5px #FF00FF;
}
.movement-type-6 {
	border-left: solid 5px #A533FF;
}
.movement-type-7 {
	border-left: solid 5px #0000FF;
}
.movement-type-8 {
	border-left: solid 5px #000000;
}

.footer-action {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d44000;
  color: white;
  text-align: center;
  height: 70px;

  .footer-item-actions {
		margin: 15px;
	    font-size: 19px;
	    font-weight: 500;
	    color: #FFFFFF;

	    i {
	    	color: #FFFFFF !important;
	    }
	}
}


.tab-content {
	background-color: #F1F1F1;
}

.calendar-top {
	width: 109px;
}

.spinner-ctnr {
	margin-top: 200px;
}
