.calendar-box-office {
  width: 100%;
  background: #f1f1f1;
  min-height: 400px;
  padding: 10px 8px;
}

.calendar-planning {
  background: #f1f1f1;

  .col {
    border: 0;
    padding: 10px 5px;

    .box-workout {
      width: 100%;
      background: #ffffff;
      margin: 10px 0;
      min-height: 200px;
      border-radius: 20px;
    }
  }
}

#fixed-calendar-planning {
  max-height: 600px;
  overflow: scroll;
  padding: 20px 30px;
  width: 100%;

  @media (max-width: 480px) {
    padding: 20px 15px;
  }
}

.box-header-template {
  border: solid 1px #bbb;
  min-height: 200px;
  padding: 0;

  .box-header-template-day {
    background-color: #fff;
    padding: 4px 10px;
    font-weight: 600;
    min-height: 28px;
    color: #333;
    border: solid 1px #fff;
    border-bottom: solid 1px #f1f1f1;
    border-radius: 8px 8px 0 0;
    min-width: 9rem;
  }
}

.box-body-workout:last-child {
  border-radius: 0 0 8px 8px;
}

.box-body-workout {
  background-color: #fff;
  padding: 8px 7px;
  font-size: 9px;
}

.zone-drop-legal {
  min-height: 70%;
  width: 94.5%;
  background-color: #fff;
  padding: 6px;
  margin: 0 8px;
  margin-bottom: 10px;
  left: -3px;
  position: absolute;
  border-radius: 0 0 8px 8px;
}

.paste-zone-workouts {
  border: dashed 3px #919191;
  background: #f1f1f1;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  font-weight: 600;
}

.text-color-box {
  font-size: 12px;
  color: #f1f1f1;
}

.add-workout-btn,
.i-btn {
  cursor: pointer;
}

.add-workout-btn {
  color: #d44000;
  border: solid 1px #ffff;
  padding: 4px 5px;
  border-radius: 11px;
  margin-right: -8px;
  font-size: 10px;
  background-color: #fff;
}

.dropdown-toggle::after {
  content: none;
}

.action-workout-box {
  background-color: #ffffff;
  margin: 8px 5px;
  padding: 5px;

  i {
    font-size: 14px;
  }
}

.action-workout-box-execrice {
  background-color: #ffffff;
  padding: 5px;
  margin: 8px 0;
  z-index: 1000;

  i {
    font-size: 14px;
  }
}

.start-session {
  width: 100%;
  margin-bottom: 11.3px;
  font-family: "Arial";
  font-size: 14px;
}

.box-exercice {
  padding: 0;
  border: 0;
  background: none;
}

.box-exercice:hover {
  background-color: #f9f9f9;
}

.box-body-workout-inputs {
  display: none;
}

.box-body-workout-inputs {
  color: #555555;
  width: 80%;
  background-color: #f1f1f1;
  border: none;
}

.box-body-exercice-inputs {
  width: 100%;
  font-size: 13px;
  margin-left: 0;
  border: none;
}

.zone-rest-day {
  display: block;
  padding: 5px 8px;

  h5 {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 4px;
    border-bottom: solid 1px #f1f1f1;
  }

  textarea.textarea-restday {
    width: 95%;
    font-size: 11px;
    min-height: 40px;
    border: none;
  }
}

.view-description-restday {
  min-height: 50px;
  font-size: 9px;
}

.box-body-workout-views,
.box-body-workout-inputs {
  margin-left: 30px !important;
  font-size: 14px;
  font-weight: 600;
}

.box-body-week-active {
  .zone-drop-legal {
    width: 400px;
    position: relative;
    height: 100px;
  }

  .zone-rest-day {
    width: 400px;
  }

  .view-description-restday-inputs {
    width: 400px;
    display: block;
  }

  .box-body-workout-active {
    width: 400px;
    border: solid 3px #333;

    .box-body-workout-inputs,
    .box-body-exercice-inputs {
      display: inline-block;
    }

    .box-body-workout-views {
      display: none;
    }

    .zone-rest-day.box-body-rest-active {
      width: 400px;
    }
  }

  .zone-rest-day.box-body-rest-active {
    border: solid 3px #333;
  }

  .box-body-workout {
    width: 400px;
  }
}



.container-calendar-template {
  margin-bottom: 100px;
}

.footer-action {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d44000;
  color: white;
  text-align: center;
  height: 70px;

  .footer-item-actions {
    margin: 15px;
    font-size: 19px;
    font-weight: 500;
    color: #ffffff;

    i {
      color: #ffffff !important;
    }
  }
}


/* Style the navbar */
#navbar-planning {
  // overflow: hidden;
  background-color: #f1f1f1;
  z-index: 1;
  width: 100%;
  padding: 20px 15px 10px;

  @media (max-width: 480px) {
    padding: 20px 0 10px;
  }

  .date-title {
    font-size: 13pt;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 7px;
    @media (max-width: 480px) {
      display: none;
    }
  }
}

/* Navbar links */
#navbar-planning a {
  float: left;
  display: block;
  color: #999;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
  padding-top: 295px;
}

.see-stats {
  margin-right: 60px;
}

.box-body-workout {
  background-color: #fff;
  padding: 8px 7px;
  font-size: 9px;
}

.paste-zone-workouts {
  border: dashed 3px #919191;
  background: #f1f1f1;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  font-weight: 600;
}

.text-color-box {
  font-size: 12px;
  color: #f1f1f1;
}

.add-workout-btn,
.i-btn {
  cursor: pointer;
}

.add-workout-btn {
  color: #d44000;
  border: solid 1px #ffff;
  padding: 4px 5px;
  border-radius: 11px;
  margin-right: -8px;
  font-size: 10px;
  background-color: #f1f1f0;
}

.dropdown-toggle::after {
  content: none;
}

.box-exercice {
  padding: 0;
  border: 0;
  background: none;
}

.box-exercice:hover {
  background-color: #f9f9f9;
}

.box-body-workout-inputs {
  display: none;
}

.box-body-workout-inputs {
  color: #555555;
  width: 80%;
  background-color: #f1f1f1;
  border: none;
}

.box-body-exercice-inputs {
  width: 100%;
  font-size: 13px;
  margin-left: 0;
  border: none;
}

.zone-rest-day {
  display: block;
  padding: 5px 8px;

  h5 {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 4px;
    border-bottom: solid 1px #f1f1f1;
  }

  textarea.textarea-restday {
    width: 95%;
    font-size: 11px;
    min-height: 40px;
    border: none;
  }
}

.view-description-restday {
  min-height: 50px;
  font-size: 9px;
}

.box-body-workout-views,
.box-body-workout-inputs {
  margin-left: 30px !important;
  font-size: 14px;
  font-weight: 600;
}

.box-body-week-active {
  .zone-drop-legal {
    width: 400px;
    position: relative;
    height: 100px;
  }

  .zone-rest-day {
    width: 400px;
  }

  .view-description-restday-inputs {
    width: 400px;
    display: block;
  }

  .box-body-workout-active {
    width: 400px;
    border: solid 3px #333;

    .box-body-workout-inputs,
    .box-body-exercice-inputs {
      display: inline-block;
    }

    .box-body-workout-views {
      display: none;
    }

    .zone-rest-day.box-body-rest-active {
      width: 400px;
    }
  }

  .zone-rest-day.box-body-rest-active {
    border: solid 3px #333;
  }

  .box-body-workout {
    width: 400px;
  }
}

.container-calendar-template {
  margin-bottom: 100px;
}

.movement-type-1 {
  border-left: solid 5px #ff0000;
}

.movement-type-2 {
  border-left: solid 5px #ffff00;
}

.movement-type-3 {
  border-left: solid 5px #00ff00;
}

.movement-type-4 {
  border-left: solid 5px #00ffff;
}

.movement-type-5 {
  border-left: solid 5px #ff00ff;
}

.movement-type-6 {
  border-left: solid 5px #a533ff;
}

.movement-type-7 {
  border-left: solid 5px #0000ff;
}

.movement-type-8 {
  border-left: solid 5px #000000;
}

.footer-action {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d44000;
  color: white;
  text-align: center;
  height: 70px;

  .footer-item-actions {
    margin: 15px;
    font-size: 19px;
    font-weight: 500;
    color: #ffffff;

    i {
      color: #ffffff !important;
    }
  }
}

.tab-content {
  background-color: #f1f1f1;
}

.calendar-top {
  width: 11rem;
}

.spinner-ctnr {
  margin-top: 200px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.list-group.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-cdk {
  min-height: 60px;
}

.calendar {
  color: #000000 !important;
  background-color: #e4e4e4;
}

@media (max-width: 480px) {
  .zone-drop-legal {
    min-width: 96%;
  }

  .box-body-week-active {
    .box-body-workout {
      width: 100%;
    }
  }

  .footer-action {
    bottom: 42px !important;
    height: 62px !important;

    .footer-item-actions {

      font-size: 15px !important;
    }
  }

  .calendar-top {
    width: 9.2rem;
    margin-bottom: 15px;
    width: 100%;

  }
}
