<div class="container-auth">
	<div class="my-login-page">
		<section class="h-100">
			<div class="container h-100">
				<div class="row justify-content-md-center h-100">
					<div class="card-wrapper">
						<div class="brand">
							<img class="logo-img-brand" src="/assets/img/logo.png">
						</div>
						<div class="card fat">
							<div class="card-body">
								<h4 class="card-title pb-4">{{ '#Signup' | dgTranslate }}</h4>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>{{ '#Role' | dgTranslate }}</label>
											<select  [class.is-invalid]="errors.role_id" (input)="errors.role_id=false" [(ngModel)]="model.role_id" class="form-control">
									      <option [value]="0">{{ 'Choose...' | dgTranslate }}</option>
									      <option [value]="3">{{ 'Coach' | dgTranslate }}</option>
									      <option [value]="1">{{ 'Athlet' | dgTranslate }}</option>
									    </select>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label>{{ '#Last Name' | dgTranslate }}</label>
											<input placeholder="Smith" [class.is-invalid]="errors.lastname" (input)="errors.lastname=false" [(ngModel)]="model.lastname" type="text" autocomplete="new-password" class="form-control">
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label>{{ '#First Name' | dgTranslate }}</label>
											<input placeholder="John" [class.is-invalid]="errors.firstname" (input)="errors.firstname=false" [(ngModel)]="model.firstname" type="text" autocomplete="new-password" class="form-control">
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label>{{ '#Email' | dgTranslate }}</label>
											<input placeholder="example@gmail.com" [class.is-invalid]="errors.email" (input)="errors.email=false" [(ngModel)]="model.email" type="email" autocomplete="new-password" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>{{ '#Password' | dgTranslate }}</label>
											<input minlength="8" maxlength="50" placeholder="Your password" [class.is-invalid]="errors.password" (input)="errors.password=false" [(ngModel)]="model.password" type="password" autocomplete="new-password" class="form-control">
											<div class="password-strength-meter"><password-strength-meter [password]="model.password"></password-strength-meter></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12 mt-2">
										<div class="form-group no-margin">
											<button type="submit" (click)="save()" [disabled]="isLoading" class="btn btn-primary btn-block">
												{{ '#Signup' | dgTranslate }}
											</button>
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-group text-center mt-3">
											{{ "#By clicking on 'Signup', you accept the terms of use" | dgTranslate }}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="footer">
							<div class="row">
								<div class="col-md-12 mb-4 text-bottom-link">
									{{ '#Already have an account?' | dgTranslate }} <a href="#" [routerLink]="['/']">{{ '#Signin' | dgTranslate }}</a>
								</div>
								<div class="col-md-12 mt-4">
									{{ '#Copyright' | dgTranslate }} &copy; ThePerfClub
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>



