<div class="row ">
	<div class="col-md-3 hidden-mobile">
		<h3>FAQ</h3>
		<div class="row">
			<div class="col-md-12">
				<a class="faq-link" href="http://www.theperfclub.com/support/" target="self">{{ '#Comment créer un nouveau profil de sportif' | dgTranslate }}</a>
			</div>
			<div class="col-md-12">
				<a class="faq-link" href="http://www.theperfclub.com/support/" target="self">{{ '#Comment visualiser un autre profil' | dgTranslate }}</a>
			</div>
			<div class="col-md-12">
				<a class="faq-link" href="http://www.theperfclub.com/support/" target="self">{{ '#Introduction: Comment naviguer dans ThePerfClub' | dgTranslate }}</a>
			</div>
			<div class="col-md-12">
				<a class="faq-link" href="http://www.theperfclub.com/support/" target="self">{{ '#Navigation du haut' | dgTranslate }}</a>
			</div>
			<div class="col-md-12">
				<a class="faq-link" href="http://www.theperfclub.com/support/" target="self">{{ '#Tableau de bord "coach"' | dgTranslate }}</a>
			</div>
			<div class="col-md-12">
				<a class="faq-link" href="http://www.theperfclub.com/support/" target="self">{{ '#Tableau de bord de base' | dgTranslate }}</a>
			</div>
			<div class="col-md-12">
				<a class="faq-link" href="http://www.theperfclub.com/support/" target="self">{{ '#Planning: Introduction' | dgTranslate }}</a>
			</div>
		</div>
	</div>
	<div class="col-md-5 col-sm-12">
		<h4>Juin 2020</h4>
		<div class="dashboard-calendar-header">
			<div class="d-flex justify-content-center">
				<div class="p-4 pt-1">
					<div>Sun</div>
					<div class="number-date-calendar"><span class="badge badge-danger">21</span></div>
				</div>
			  <div class="p-4 pt-1">
			  	<div>Mon</div>
			  	<div class="number-date-calendar"><span class="badge badge-light">22</span></div>
			  </div>
			  <div class="p-4 pt-1">
			  	<div>Tue</div>
			  	<div class="number-date-calendar"><span class="badge badge-light">23</span></div>
			  </div>
			  <div class="p-4 pt-1">
			  	<div>Wed</div>
			  	<div class="number-date-calendar"><span class="badge badge-light">24</span></div>
			  </div>
			  <div class="p-4 pt-1">
			  	<div>Thu</div>
			  	<div class="number-date-calendar"><span class="badge badge-light">25</span></div>
			  </div>
			  <div class="p-4 pt-1">
			  	<div>Fri</div>
			  	<div class="number-date-calendar"><span class="badge badge-light">26</span></div>
			  </div>
			  <div class="p-4 pt-1">
			  	<div>Sat</div>
			  	<div class="number-date-calendar"><span class="badge badge-light">27</span></div>
			  </div>
			</div>
		</div>
	</div>
	<div class="col-md-4 hidden-mobile">
		<h3>Mes sportifs</h3>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-2">
						<img src="/assets/img/logo.png" width="30px" height="30px">
					</div>
					<div class="col-md-4">
						Tyler Little
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-light">{{ '#Charger le profil' | dgTranslate }}</button>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-2">
						<img src="/assets/img/logo.png" width="30px" height="30px">
					</div>
					<div class="col-md-4">
						Tyler Little
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-light">{{ '#Charger le profil' | dgTranslate }}</button>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-2">
						<img src="/assets/img/logo.png" width="30px" height="30px">
					</div>
					<div class="col-md-4">
						Tyler Little
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-light">{{ '#Charger le profil' | dgTranslate }}</button>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-2">
						<img src="/assets/img/logo.png" width="30px" height="30px">
					</div>
					<div class="col-md-4">
						Tyler Little
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-light">{{ '#Charger le profil' | dgTranslate }}</button>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-2">
						<img src="/assets/img/logo.png" width="30px" height="30px">
					</div>
					<div class="col-md-4">
						Tyler Little
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-light">{{ '#Charger le profil' | dgTranslate }}</button>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-2">
						<img src="/assets/img/logo.png" width="30px" height="30px">
					</div>
					<div class="col-md-4">
						Tyler Little
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-light">{{ '#Charger le profil' | dgTranslate }}</button>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-2">
						<img src="/assets/img/logo.png" width="30px" height="30px">
					</div>
					<div class="col-md-4">
						Tyler Little
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-light">{{ '#Charger le profil' | dgTranslate }}</button>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-2">
						<img src="/assets/img/logo.png" width="30px" height="30px">
					</div>
					<div class="col-md-4">
						Tyler Little
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-light">{{ '#Charger le profil' | dgTranslate }}</button>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
