<div [ngClass]="[isFromUrl ? 'row lead-body d-flex justify-content-center' : 'row lead-body lead-body-athlete d-flex justify-content-center']">
  <div class="col-md-10">

    <div class="lead-body-content" *ngIf="isEmpty && isFromUrl">
      <div class="workout-date mb-4">
        <div class="row row--workouts">
          <div class="col-{{ 12/totalColumn }}">
            <button class="btn-add-athlet" (click)="openInvitationCreateModal()">
              <div class="content">
                <div class="title">{{ "#Add an athlet" | dgTranslate }}</div>
                <div class="plus alt"></div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="lead-body-content" *ngIf="!isEmpty">

      <div class="workout-date mb-4" *ngFor="let _workout of flatWorkouts; let lastFlatWorkout = last;">
        <h4>{{ _workout.label }}</h4>
        <div *ngIf="checkIsToday(_workout.date) && isFromUrl" class="rectangle">
          <div class="oval">
            <img src="assets/img/logo/logo-power.png" srcset="
              assets/img/logo/logo-power@2x.png 2x,
              assets/img/logo/logo-power@3x.png 3x
            " class="logo">
            <span class="content-oval">{{userWorkouts[_workout.date].length}}</span>
            <div class="text-white sessions">Sessions</div>
          </div>
          <div class="athlets">
            <a class="text-white" href="https://app.theperfclub.com/coach/clients">All athlets</a>
          </div>

        </div>
        <ng-container *ngIf="userWorkouts && userWorkouts">
          <div class="row row--workouts">

            <ng-container *ngFor="let rowNumber of rowNumbers">
              <div class="col-{{ 12/totalColumn }}">
                <ng-container *ngFor="let workout of userWorkouts[_workout.date]; let i = index; let lastWorkout = last;">
                  <ng-container *ngIf="i % totalColumn == rowNumber || i == rowNumber">


                    <div class="workout-session">
                      <div class="workout-session-title">
                        <ng-container *ngIf="isFromUrl">
                          <a class="text-dark" [routerLink]="['/coach', 'athlet', 'dashboard']" (click)="setCurrentAthletId(workout.user_id)">{{ workout.username }}</a>
                        </ng-container>
                        <ng-container *ngIf="!isFromUrl">
                          <a class="text-dark">{{ workout.username }}</a>
                        </ng-container>

                        <span class="workout-program-name" *ngIf="workout.name">{{workout.name}}</span>
                      </div>

                      <ng-container *ngIf="computeFatigueManagementData(workout) as fatigueManagementData">
                        <div class="fatigue-management-banner {{ fatigueManagementData.color }}-zone">
                          <div class="rectangle rectangle--{{ fatigueManagementData.status }}">

                            <ng-container *ngIf="fatigueManagementData.status == 'todo'">
                              <div class="tpc-circle">
                                <div class="c100 p100 red bg-transparent">
                                  <div class="circle-content">
                                    <img src="assets/img/logo/logo-power.png" srcset="assets/img/logo/logo-power@2x.png 2x,assets/img/logo/logo-power@3x.png 3x" class="logo">
                                    <span class="percentage">?/10</span>
                                    <div class="text-white sessions">Energy</div>
                                  </div>
                                  <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                </div>
                              </div>
                            </ng-container>

                            <ng-container *ngIf="fatigueManagementData.status == 'in-progress'">
                              <div class="tpc-circle">
                                <div class="c100 p{{ fatigueManagementData.energy }} {{ fatigueManagementData.color }}">
                                  <div class="circle-content">
                                    <img src="assets/img/logo/logo-power.png" srcset="assets/img/logo/logo-power@2x.png 2x,assets/img/logo/logo-power@3x.png 3x" class="logo">
                                    <span class="percentage">{{ fatigueManagementData.energy }}%</span>
                                    <div class="text-white sessions">Energy</div>
                                  </div>
                                  <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                  </div>
                                </div>
                              </div>
                            </ng-container>

                            <ng-container *ngIf="fatigueManagementData.status == 'done'">
                              <div class="tpc-optimal-zone clearfix">
                                <div class="optimal-zone--left {{ fatigueManagementData.colorEnergy }}"></div>
                                <div class="optimal-zone">
                                  <div class="title">{{ fatigueManagementData.zoneName }}</div>
                                  <div class="subtitle">Zone</div>
                                </div>
                                <div class="optimal-zone--right {{ fatigueManagementData.colorRPE }}"></div>
                                <div class="score energy-score {{ fatigueManagementData.colorEnergy }}">
                                  <div class="value">{{ fatigueManagementData.energyScore }}/10</div>
                                  <div class="subtitle">Energy score</div>
                                </div>
                                <div class="score rpe-score {{ fatigueManagementData.colorRPE }}">
                                  <div class="value">{{ fatigueManagementData.rpeScore }}/10</div>
                                  <div class="subtitle">RPE</div>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </ng-container>

                      <ul class="list-group more-padding">
                        <li
                      class="list-group-item box-exercice"
                      *ngFor="let exercice of workout.program.exercices;let indexExercice = index">
                      <div class="movement-container movement-type-{{ exercice.type && exercice.type.id }}">
                        <div class="inputs-exercice-type" *ngIf="exercice.type" [ngSwitch]="exercice.type.id">
                          <div *ngSwitchCase="1">
                            <div class="movement-title" *ngFor="let movement of exercice.movements">
                              {{ movement.name }}
                              <div class="movement-content" *ngFor="let set of movement.sets">
                                <span *ngIf="set.set">{{ set.set }} x {{ set.rep }} <span *ngIf="set.value">@ {{ set.value }}{{ set.unit_label }}</span></span>
                              </div>
                            </div>
                          </div>
                          <div *ngSwitchCase="2">
                            <div class="movement-title">
                              <span class="mb-2" *ngFor="let movement of exercice.movements; let indMov = index">
                                <div *ngFor="let set of movement.sets">
                                  <span *ngIf="movement.has_rep_unit">
                                    {{ movement.name }} <br>
                                    {{ set.rep }} {{ getCardioUnitLabel(set.rep_unit) }} <span *ngIf="set.value">@ {{ set.value }}{{ set.unit_label }}</span>
                                  </span>
                                  <span *ngIf="!movement.has_rep_unit">
                                    {{ set.rep }} {{ movement.name }} <span *ngIf="set.value">@ {{ set.value }}{{ set.unit_label }}</span>
                                  </span>
                                </div>
                              </span>

                              <div class="movement-content">
                                <span>{{ exercice.sets }}
                                  {{ "#Sets" | dgTranslate }}</span>
                              </div>
                            </div>
                          </div>
                          <div *ngSwitchCase="3">
                            <div
                              class="movement-title mb-2"
                              *ngFor="let movement of exercice.movements"
                            >
                              <div *ngFor="let set of movement.sets">
                                <span *ngIf="movement.has_rep_unit">
                                  {{ movement.name }} <br>
                                  {{ set.rep }} {{ getCardioUnitLabel(set.rep_unit) }} <span *ngIf="set.value">@ {{ set.value }}{{ set.unit_label }}</span>
                                </span>
                                <span *ngIf="set.set && !movement.has_rep_unit">
                                  {{ movement.sets[0].quantity }} {{ movement.name }} <span *ngIf="set.value">@ {{ set.value }}{{ set.unit_label }}</span></span>
                              </div>
                            </div>
                            <div class="movement-content">
                              AMRAP: {{ exercice.amrap_timecap }}
                              {{ "#minutes" | dgTranslate }}
                            </div>
                          </div>
                          <div *ngSwitchCase="4">
                            <div
                              class="movement-title"
                              *ngFor="let movement of exercice.movements"
                            >
                              <div *ngFor="let set of movement.sets">
                                <span *ngIf="movement.has_rep_unit">
                                  {{ movement.name }} <br>
                                  {{ set.rep }} {{ getCardioUnitLabel(set.rep_unit) }} <span *ngIf="set.value">@ {{ set.value }}{{ set.unit_label }}</span>
                                  </span>
                                <span *ngIf="set.set && !movement.has_rep_unit">
                                  {{ movement.sets[0].quantity }} {{ movement.name }} <span *ngIf="set.value">@ {{ set.value }}{{ set.unit_label }}</span></span>
                              </div>
                            </div>
                            <div class="movement-content">
                              <span *ngIf="exercice.time_style == 1"
                                >{{ exercice.time_style_fixed }}
                                {{ "#rounds for time" | dgTranslate }}</span
                              >
                              <span *ngIf="exercice.time_style == 2"
                                >{{ exercice.time_style_varying }}
                                {{ "#rounds for time" | dgTranslate }}</span
                              >
                            </div>
                          </div>
                          <div *ngSwitchCase="5">
                            <div
                              class="movement-title"
                              *ngFor="let movement of exercice.movements"
                            >
                              <div *ngFor="let set of movement.sets">
                                <span *ngIf="movement.has_rep_unit">
                                  {{ movement.name }} <br>
                                  {{ set.rep }} {{ getCardioUnitLabel(set.rep_unit) }} <span *ngIf="set.value">@ {{ set.value }}{{ set.unit_label }}</span>
                                  </span>
                                <span *ngIf="set.set && !movement.has_rep_unit">
                                  {{ movement.sets[0].quantity }} {{ movement.name }} <span *ngIf="set.value">@ {{ set.value }}{{ set.unit_label }}</span></span>
                              </div>
                            </div>
                            <div class="movement-content">
                              EMOM ({{ exercice.emom_duration }} min every
                              {{ exercice.emom_seconds }} sec)
                            </div>
                          </div>
                          <div *ngSwitchCase="7">
                            <div class="movement-title" *ngIf="exercice.cardio_type">
                              {{
                                configExercices.cardio.flatType[exercice.cardio_type]
                              }}
                            </div>

                            <div
                              class="movement-content"
                              *ngIf="exercice.cardio_scoring == 1"
                            >
                              <span
                                >{{ exercice.cardio_cardio_movement.interval }}
                                {{ exercice.cardio_cardio_movement.unit_label }}
                                <span *ngIf="exercice.cardio_cardio_movement.value">@ {{ exercice.cardio_cardio_movement.value }} %</span>
                              </span>
                            </div>
                            <div *ngIf="exercice.cardio_scoring == 2">
                              <div
                                class="movement-content"
                                *ngFor="
                                  let set of exercice.cardio_intervals_movement.sets
                                "
                              >
                                <span *ngIf="set.set"
                                  >{{ set.set }} x {{ set.interval }} {{ set.unit_label }} <span *ngIf="set.value">@ {{ set.value }} %</span></span
                                >
                              </div>
                            </div>
                          </div>
                          <div *ngSwitchCase="8">
                            <div class="movement-title">
                              {{ exercice.name }}
                              <span class="tpc-badge tpc-badge-{{ exercice.custom_scoring }}">{{ configExercices.flatCustom[exercice.custom_scoring] }}</span>
                            </div>
                            <div class="movement-content custom-content">{{ exercice.custom }}</div>
                          </div>
                        </div>
                      </div>
                    </li>
                      </ul>
                    </div>

                  </ng-container>

                  <button class="btn-add-athlet" (click)="openInvitationCreateModal()" *ngIf="isFromUrl && lastFlatWorkout && userWorkouts[_workout.date].length - i == rowNumber && userWorkouts[_workout.date].length % totalColumn == rowNumber" href="#">
                    <div class="content">
                      <div class="title">{{ "#Add an athlet" | dgTranslate }}</div>
                      <div class="plus alt"></div>
                    </div>
                  </button>

                </ng-container>

              </div>
            </ng-container>



          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
