<div class="row lead-container">
	<div class="col-md-3 lead-left-bar" *ngIf="size >= responsiveSize">
		<div class="lead-bar-content">
			<div class="readiness-level">
				<h3 class="readiness-level-title">{{ '#My athlets' | dgTranslate }}</h3>
				<ng-container *ngFor="let client of user.clients">
					<div class="athlets-item" *ngIf="client.profile">
						<a [routerLink]="['/coach', 'athlet', 'dashboard']" (click)="setCurrentAthletId(client.client_id)">
							<i class="fa fa-user-circle"></i> {{ client.profile?.firstname }} {{ client.profile?.lastname }}
						</a>
					</div>
				</ng-container>
				<button class="btn btn-primary btn-edit-secondary" (click)="openInvitationCreateModal()"><i class="fa fa-plus"></i> {{ '#Create an athlet' | dgTranslate }}</button>
				<button class="btn btn-secondary btn-edit-secondary mt-3" routerLinkActive="active" [routerLink]="['/coach', 'clients']">{{ '#See all athlets' | dgTranslate }}</button>
			</div>
			<div class="strenght-level">
				<h3 class="strenght-level-title">{{ '#My programs' | dgTranslate }}</h3>
				<ng-container *ngFor="let program of user.programs">
					<div class="athlets-item">
						<a [routerLink]="['/coach', 'programs', program.program_id]">
							<span class="fa-stack fa-2x">
							  <i class="fa fa-calendar-o fa-stack-1x"></i>
							  <strong class="fa-stack-1x calendar-text">{{ program.days_count }}</strong>
							</span>
							{{ program.name }}
						</a>
					</div>
				</ng-container>
				<button class="btn btn-primary btn-edit-secondary" (click)="openProgramCreateModal()"><i class="fa fa-plus"></i> {{ '#Create an program' | dgTranslate }}</button>
				<button class="btn btn-secondary btn-edit-secondary mt-3" routerLinkActive="active" [routerLink]="['/coach', 'programs']">{{ '#See all programs' | dgTranslate }}</button>
			</div>
		</div>
	</div>
	<div class="col-md-6 lead-body">

	</div>
	<div class="col-md-3 lead-right-bar" *ngIf="size >= responsiveSize">
		<div class="lead-bar-content lead-bar-content-right">
		</div>
	</div>
</div>
