<div class="modal-header">

  <ul>
    <li [ngClass]="{ 'active': model.type.id == 8 }" (click)="selectType(8, 'Custom')">
      <ng-container *ngIf="size >= responsiveSize">{{ "#Text notes" | dgTranslate }}</ng-container>
      <ng-container *ngIf="size < responsiveSize">{{ "#Text" | dgTranslate }}</ng-container>
    </li>
    <li [ngClass]="{ 'active': model.type.id == 1 }" (click)="selectType(1, 'Simple exercices')">{{ "#Simple" | dgTranslate }}</li>
    <li [ngClass]="{ 'active': model.type.id == 2 }" (click)="selectType(2, 'Complex exercices')">{{ "#Complex" | dgTranslate }}</li>
    <li [ngClass]="{ 'active': model.type.id == 3 }" (click)="selectType(3, 'Timed exercices')">{{ "#Circuits" | dgTranslate }}</li>
    <li [ngClass]="{ 'active': model.type.id == 7 }" (click)="selectType(7, 'Cardio & intervals')">{{ "#Cardio" | dgTranslate }}</li>
  </ul>

  <button type="button" class="close pull-right" aria-label="Close" [disabled]="isLoading" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row" *ngIf="model.step === 2">
    <div class="inputs-exercice-type" [ngSwitch]="model.type.id">
      <tpc-inputs-exercice-type-simple
        [model]="model" [profil]="profil" [isPlanning]="isPlanning" *ngSwitchCase="1"
      ></tpc-inputs-exercice-type-simple>
      <tpc-inputs-exercice-type-complex
        [model]="model" [profil]="profil" [isPlanning]="isPlanning" *ngSwitchCase="2"
      ></tpc-inputs-exercice-type-complex>
      <tpc-inputs-exercice-type-amrap
        [model]="model" [profil]="profil" [isPlanning]="isPlanning" *ngSwitchCase="3"
      ></tpc-inputs-exercice-type-amrap>
      <tpc-inputs-exercice-type-time
        [model]="model" [profil]="profil" [isPlanning]="isPlanning" *ngSwitchCase="4"
      ></tpc-inputs-exercice-type-time>
      <tpc-inputs-exercice-type-emom
        [model]="model" [profil]="profil" [isPlanning]="isPlanning" *ngSwitchCase="5"
      ></tpc-inputs-exercice-type-emom>
      <tpc-inputs-exercice-type-open
        [model]="model" [profil]="profil" [isPlanning]="isPlanning" *ngSwitchCase="6"
      ></tpc-inputs-exercice-type-open>
      <tpc-inputs-exercice-type-cardio
        [model]="model" [profil]="profil" [isPlanning]="isPlanning" *ngSwitchCase="7"
      ></tpc-inputs-exercice-type-cardio>
      <tpc-inputs-exercice-type-custom
        [model]="model" [profil]="profil" [isPlanning]="isPlanning" *ngSwitchCase="8"
      ></tpc-inputs-exercice-type-custom>
    </div>

    <div class="col-md-6" *ngIf="showDate">
      <label>{{ "#Date" | dgTranslate }}</label>
      <div class="input-group">
        <input
          class="form-control"
          [class.is-invalid]="errors.started_at"
          (input)="errors.started_at = false"
          placeholder="yyyy-mm-dd"
          name="dp"
          [(ngModel)]="startedAtModel"
          ngbDatepicker
          #d="ngbDatepicker"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-2">
      <div class="form-group">
        <label>{{ "#Notes" | dgTranslate }}</label>
        <textarea placeholder="{{ '#My comments' | dgTranslate }}" [(ngModel)]="model.description" class="form-control"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer" *ngIf="model.step === 2">
  <button class="btn btn-light" [disabled]="isLoading" (click)="cancel()">
    <i class="fa fa-close"></i> {{ "#Cancel" | dgTranslate }}
  </button>
  <button class="btn btn-primary" [disabled]="isLoading" (click)="save()">
    <i class="fa fa-save"></i>
    {{ "#Save" | dgTranslate }}
  </button>
</div>
