<div class="container-fluid">
  <div class="row pt-4 row-tpc-submenu-calendar">
    <div class="col-md-6 pb-4">
      <ul class="tpc-submenu pb-4">
        <ng-container *ngIf="size <= responsiveSize">
          <li><a href="#" [routerLink]="links.fatigueManagement">{{ "#Fatigue" | dgTranslate }}</a></li>
          <li><a class="active" href="#" [routerLink]="links.trainingOverload">{{ "#Load" | dgTranslate }}</a></li>
          <li><a href="#" [routerLink]="links.energySystems">{{ "#Systems" | dgTranslate }}</a></li>
        </ng-container>
        <ng-container *ngIf="size > responsiveSize">
          <li><a href="#" [routerLink]="links.fatigueManagement">{{ "#Fatigue management" | dgTranslate }}</a></li>
          <li><a class="active" href="#" [routerLink]="links.trainingOverload">{{ "#Load analysis" | dgTranslate }}</a></li>
          <li><a href="#" [routerLink]="links.energySystems">{{ "#Energy systems" | dgTranslate }}</a></li>
        </ng-container>


      </ul>
    </div>

    <div class="col-md-6 calendar-top">
      <div class="float-right">
        <app-customer-stats-range [isFromUrl]="isFromUrl" [keepDates]="keepDates"></app-customer-stats-range>
      </div>
    </div>
  </div>

  <app-customer-stats-summary [isFromUrl]="isFromUrl"></app-customer-stats-summary>

  <div class="row container-stats">
    <div class="col-md-7">
      <div class="box-stats-left">
        <app-customer-stats (statsUpdated)="onUpdateStats($event)" [keepDates]="keepDates" [isFromUrl]="isFromUrl"></app-customer-stats>
      </div>
    </div>
    <div class="col-md-5">
      <div class="box-stats-right">
        <h3 class="text-center mt-4 mb-4">
          {{ "#Training breakdown" | dgTranslate }}
        </h3>
        <div class="d-flex justify-content-center mb-4">
          <div class="col-sm-3 col-md-3 text-center container-mrv">
            <div class="mrv-score red">
              <div class="mrv-score-icon">
                <img src="assets/img/logo/logo-intensit.png" srcset="
                    assets/img/logo/logo-intensit@2x.png 2x,
                    assets/img/logo/logo-intensit@3x.png 3x
                  " class="logo" />
              </div>
              <div class="mrv-score-number">{{ stats.weekly.intensiteRound }}</div>
            </div>
            <div class="label-round">{{ "#Av. weight" | dgTranslate | uppercase }}</div>
          </div>
        </div>
        <app-customer-intensity></app-customer-intensity>
      </div>
    </div>
  </div>
</div>
