.number-movement-list {
	text-align: center;
	display: inline-block;
	width: 100px;
}

.number-movement-list-label {
	display: inline-block;
}

.emom-interval-inputs {
	width: 90px;
	margin-right: 10px;
}

.form-select-subtype {
	width: 100%;

	.btn-light {
		width: 33%;
	}
}
