<div class="container-auth">
	<div class="my-login-page">
		<section class="h-100">
			<div class="container h-100">
				<div class="row justify-content-md-center h-100">
					<div class="card-wrapper">
						<div class="brand">
							<img class="logo-img-brand" src="/assets/img/logo.png">
						</div>
						<div class="card fat">
							<div class="card-body">
								<h4 class="card-title pb-4">
									{{ '#Create a new password' | dgTranslate }}
								</h4>
								<form method="POST">
									<div class="form-group">
										<label>{{ '#Your new password' | dgTranslate }}</label>
										<input type="password" autocomplete="new-password" placeholder="{{ '#Password' | dgTranslate }}" class="form-control" autofocus>
									</div>

									<div class="form-group">
										<label>{{ '#Confirmation of your new password' | dgTranslate }}</label>
										<input type="password" autocomplete="new-password" placeholder="{{ '#Password' | dgTranslate }}" class="form-control">
									</div>

									<div class="form-group  mt-4 mb-4">
										<button type="submit" class="btn btn-primary btn-block">
											{{ '#Reset my password' | dgTranslate }}
										</button>
									</div>
								</form>
							</div>
						</div>
						<div class="footer">
							<div class="row">
								<div class="col-md-12">
									{{ '#Copyright' | dgTranslate }} &copy; ThePerfClub
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>



