
.form-select-subtype {
  width: 100%;

  .btn-light {
    width: 33%;
  }
}
.list-group-item-step {
  padding-top: 10px;
  padding-bottom: 10px;
}
hr {
  margin-top: 10px;
  margin-bottom:0;
}
.number-movement-list {
  text-align: center;
  display: inline-block;
  width: 90px;
  height: 33px;
}
.unit-list {
  border:none;
}
.badge-success {
  margin-bottom: 7px;
}

.number-movement-list-label {
  display: inline-block;
  font-size: 14pt;
  font-weight: 500;
}

.input-group-text {
  border: 0;
  background-color: #ffffff;
}
.amrap-input {
  width: 112px;
}

@media (max-width: 480px) {
  .container-movements {
    padding: 0 15px 0 15px;
    .title-mouvement {
      font-size: 14px;
    }
  }
  .container-set {
    z-index: 1000;
  }
  .number-movement-list {
    width: 60px;
  }
}
