<div class="col-md-12">
	<div class="form-group">
		<label>{{ '#Search movement' | dgTranslate }}</label>
		<tpc-input-autocomplete
			[data]="movements"
			type="workout"
			(handleOnChangeSearch)="onChangeSearch($event)"
			(onSelectedItem)="onSelectedItem($event)"></tpc-input-autocomplete>
	</div>
</div>

<div class="col-md-12 mb-2" *ngIf="model.movements.length">
	<label>{{ '#Movements' | dgTranslate }}</label>
	<div *ngFor="let movement of model.movements; let movementIndex=index;" class="list-group-item-step">
		<div class="row">
			<div class="col" *ngIf="movement.has_repetitions">
				<input placeholder="1" type="number" [(ngModel)]="movement.sets[0].quantity" class="form-control">
			</div>
			<div class="col">{{ movement.name }}</div>
			<div class="col" *ngIf="movement.has_value">
				<input placeholder="130" type="number" [(ngModel)]="movement.sets[0].value" class="form-control">
			</div>
			<div class="col" *ngIf="movement.has_unit">
				<select [(ngModel)]="movement.sets[0].unit" class="form-control">
					<option *ngFor="let unit of configExercices.size" [value]="unit.id">{{ unit.name }}</option>
				</select>
			</div>
			<div class="col text-right">
				<button class="btn" (click)="removeMovement(movementIndex)"><i class="fa fa-close"></i></button>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 mb-2">
	<div class="form-inline form-select-subtype">
		<div [(ngModel)]="typeChoice" (ngModelChange)="onTypeChoiceChanged($event)" class="btn-group btn-group-toggle" ngbRadioGroup>
		  <label ngbButtonLabel class="btn-light">
		    <input ngbButton type="radio" [value]="3"> AMRAP
		  </label>
		  <label ngbButtonLabel class="btn-light">
		    <input ngbButton type="radio" [value]="4"> For time
		  </label>
		  <label ngbButtonLabel class="btn-light">
		    <input ngbButton type="radio" [value]="5"> EMOM
		  </label>
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label>{{ '#Timecap' | dgTranslate }}</label>
				<input type="number" [(ngModel)]="model.amrap_timecap" placeholder="10" class="form-control">
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>{{ '#Sets' | dgTranslate }}</label>
				<input placeholder="5" [(ngModel)]="model.sets" type="number" class="form-control">
		  </div>
		</div>
	</div>
</div>

