<div class="col-md-12">
	<div class="form-group">
		<label>{{ '#Search movement' | dgTranslate }}</label>
		<tpc-input-autocomplete
			[data]="movements"
			type="workout"
			(handleOnChangeSearch)="onChangeSearch($event)"
			(onSelectedItem)="onSelectedItem($event)"></tpc-input-autocomplete>
	</div>
</div>

<div class="col-md-12 mb-2" *ngIf="model.movements.length">
	<label>{{ '#Movements' | dgTranslate }}</label>
	<div *ngFor="let movement of model.movements; let movementIndex=index;" class="list-group-item-step">
		<div class="row" *ngIf="isPlanning">
			<div class="col-md-12">
				<div class="form-row align-items-center">
			  	<div class="col-auto">
						<div class="input-group">
							<div class="input-group-prepppend">
			          <span class="input-group-text">REPMAX</span>
			        </div>
							<input placeholder="1" [(ngModel)]="movement.max_value" type="number" class="form-control number-movement-list">
			      </div>
			    </div>
			    <div class="col-auto" *ngIf="movement.has_unit">
						<select [(ngModel)]="movement.max_unit" type="number" class="form-control number-movement-list">
							<option *ngFor="let unit of configExercices.size" [value]="unit.id">{{ unit.name }}</option>
						</select>
			    </div>
			  </div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col" *ngIf="movement.has_repetitions">
				<input placeholder="1" type="number" [(ngModel)]="movement.sets[0].quantity" class="form-control number-movement-list">
			</div>
			<div class="col">{{ movement.name }}</div>
			<div class="col-auto" *ngIf="movement.has_value">
				<input placeholder="90" [(ngModel)]="movement.sets[0].value" type="number" class="form-control number-movement-list ml-2">
	    </div>

	    <div class="col-auto">
				<select [(ngModel)]="movement.sets[0].unit" type="number" class="form-control number-movement-list">
					<option [value]="1">kg</option>
					<option [value]="2">lbs</option>
					<option [value]="3">%</option>
				</select>
				<span *ngIf="movement.max_value && movement.sets[0].unit == 3 && isPlanning" class="ml-4 badge badge-success">
					{{ movement.sets[0].value | unitSizeLabel : movement.max_value : movement.max_unit }}
				</span>
				<span *ngIf="movement.max_value && (movement.sets[0].unit == 1 || movement.sets[0].unit == 2) && isPlanning" class="ml-4 badge badge-success">
					{{ movement.sets[0].value | unitSizeCompar : movement.max_value : movement.max_unit : movement.sets[0].unit }}
				</span>
			</div>
			<div class="col text-right">
				<button class="btn" (click)="removeMovement(movementIndex)"><i class="fa fa-close"></i></button>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 mb-2">
	<div class="form-inline form-select-subtype">
		<div [(ngModel)]="typeChoice" (ngModelChange)="onTypeChoiceChanged($event)" class="btn-group btn-group-toggle" ngbRadioGroup>
		  <label ngbButtonLabel class="btn-light">
		    <input ngbButton type="radio" [value]="3"> AMRAP
		  </label>
		  <label ngbButtonLabel class="btn-light">
		    <input ngbButton type="radio" [value]="4"> For time
		  </label>
		  <label ngbButtonLabel class="btn-light">
		    <input ngbButton type="radio" [value]="5"> EMOM
		  </label>
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label>{{ '#Timecap' | dgTranslate }}</label>
				<input type="number" [(ngModel)]="model.amrap_timecap" placeholder="10" class="form-control">
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>{{ '#Sets' | dgTranslate }}</label>
				<input placeholder="5" [(ngModel)]="model.sets" type="number" class="form-control">
		  </div>
		</div>
	</div>
</div>

