<div class="col-md-12">
	<div class="form-group">
		<label>{{ '#Search movement' | dgTranslate }}</label>
		<tpc-input-autocomplete
			[data]="movements"
			type="workout"
			(handleOnChangeSearch)="onChangeSearch($event)"
			(onSelectedItem)="onSelectedItem($event)"></tpc-input-autocomplete>
	</div>
</div>

<div class="col-md-12 mb-2" *ngIf="model.movements.length">
	<label>{{ '#Movements' | dgTranslate }}</label>
	<ul class="list-group">
		<li *ngFor="let movement of model.movements; let movementIndex=index;" class="list-group-item">
			<div class="row">
				<div class="col">
					<input placeholder="1" type="number" [(ngModel)]="movement.quantity" class="form-control">
				</div>
				<div class="col">{{ movement.name }}</div>
				<div class="col">
					<input placeholder="130" type="number" [(ngModel)]="movement.value" class="form-control">
				</div>
				<div class="col">
					<select [(ngModel)]="movement.unit" class="form-control">
						<option [value]="1">lbs</option>
						<option [value]="2">kg</option>
						<option [value]="3">%</option>
					</select>
				</div>
				<div class="col text-right">
					<button class="btn" (click)="removeMovement(movementIndex)"><i class="fa fa-close"></i></button>
				</div>
			</div>
		</li>
	</ul>
</div>

<div class="col-md-12" *ngIf="model.type && model.type.id == 3">
	<div class="form-group">
		<label>{{ '#Timecap' | dgTranslate }}</label>
		<input type="number" [(ngModel)]="model.amrap_timecap" placeholder="10" class="form-control">
	</div>
</div>
