<div [ngClass]="[isFromUrl ? 'row lead-body d-flex justify-content-center' : 'row lead-body lead-body-athlete d-flex justify-content-center']">
  <div class="col-md-10">

    <div class="lead-body-content" *ngIf="isEmpty && isFromUrl">
      <div class="workout-date mb-4">
        <div class="row row--workouts">
          <div class="col-{{ 12/totalColumn }}">
            <button class="btn-add-athlet" (click)="openInvitationCreateModal()">
              <div class="content">
                <div class="title">{{ "#Add an athlet" | dgTranslate }}</div>
                <div class="plus alt"></div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="lead-body-content" *ngIf="!isEmpty">

      <div class="workout-date mb-4" *ngFor="let _workout of flatWorkouts; let lastFlatWorkout = last;">
        <h4>{{ _workout.label }}</h4>
        <!--
        <div *ngIf="checkIsToday(_workout.date) && isFromUrl" class="rectangle">
          <div class="oval">
            <img src="assets/img/logo/logo-power.png" srcset="assets/img/logo/logo-power@2x.png 2x,assets/img/logo/logo-power@3x.png 3x" class="logo">
            <span class="content-oval">{{userWorkouts[_workout.date].length}}</span>
            <div class="text-white sessions">{{ "#Sessions" | dgTranslate }}</div>
          </div>
          <div class="athlets">
            <a class="text-white" href="https://app.theperfclub.com/coach/clients">{{ "#All athlets" | dgTranslate }}</a>
          </div>
        </div>
        -->
        <ng-container *ngIf="userWorkouts && userWorkouts">
          <div class="row row--workouts">

            <ng-container *ngFor="let rowNumber of rowNumbers">
              <div class="col-{{ 12/totalColumn }}">
                <ng-container
                  *ngFor="let workout of userWorkouts[_workout.date]; let i = index; let lastWorkout = last;">
                  <ng-container *ngIf="i % totalColumn == rowNumber || i == rowNumber">


                    <div class="workout-session">
                      <div class="workout-session-title">
                        <ng-container *ngIf="isFromUrl"><a class="text-dark" [routerLink]="['/coach', 'athlet', 'dashboard']" (click)="setCurrentAthletId(workout.user_id)">{{ workout.username }}</a></ng-container>
                        <ng-container *ngIf="!isFromUrl"><a class="text-dark">{{ workout.username }}</a></ng-container>
                        <span class="workout-program-name" *ngIf="workout.name">{{workout.name}}</span>
                      </div>

                      <ng-container *ngIf="computeFatigueManagementData(workout) as fatigueManagementData">
                        <div class="fatigue-management-banner {{ fatigueManagementData.color }}-zone">
                          <div class="rectangle rectangle--{{ fatigueManagementData.status }}">

                            <ng-container *ngIf="fatigueManagementData.status == 'todo'">
                              <div class="tpc-circle">
                                <div class="c100 p100 low bg-transparent">
                                  <div class="circle-content">
                                    <img src="assets/img/logo/logo-power.png"
                                         srcset="assets/img/logo/logo-power@2x.png 2x,assets/img/logo/logo-power@3x.png 3x"
                                         class="logo">
                                    <span class="percentage">?/10</span>
                                    <div class="text-white sessions">{{ "#Energy" | dgTranslate }}</div>
                                  </div>
                                  <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                  </div>
                                </div>
                              </div>
                            </ng-container>

                            <ng-container *ngIf="fatigueManagementData.status == 'in-progress'">
                              <div class="tpc-circle">
                                <div class="c100 p{{ fatigueManagementData.energy }} {{ fatigueManagementData.color }}">
                                  <div class="circle-content">
                                    <img src="assets/img/logo/logo-power.png"
                                         srcset="assets/img/logo/logo-power@2x.png 2x,assets/img/logo/logo-power@3x.png 3x"
                                         class="logo">
                                    <span class="percentage">{{ fatigueManagementData.energy }}%</span>
                                    <div class="text-white sessions">{{ "#Energy" | dgTranslate }}</div>
                                  </div>
                                  <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                  </div>
                                </div>
                              </div>
                            </ng-container>

                            <ng-container *ngIf="fatigueManagementData.status == 'done'">
                              <div class="tpc-optimal-zone clearfix">
                                <div class="optimal-zone--left {{ fatigueManagementData.colorEnergy }}"></div>
                                <div class="optimal-zone">
                                  <div class="title">{{ fatigueManagementData.zoneName }}</div>
                                  <div class="subtitle">{{ "#Zone" | dgTranslate }}</div>
                                </div>
                                <div class="optimal-zone--right {{ fatigueManagementData.colorRPE }}"></div>
                                <div class="score energy-score {{ fatigueManagementData.colorEnergy }}">
                                  <div class="value">{{ fatigueManagementData.energyScore }}/10</div>
                                  <div class="subtitle">{{ "#Energy score" | dgTranslate }}</div>
                                </div>
                                <div class="score rpe-score {{ fatigueManagementData.colorRPE }}">
                                  <div class="value">{{ fatigueManagementData.rpeScore }}/10</div>
                                  <div class="subtitle">{{ "#RPE" | dgTranslate }}</div>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </ng-container>

                      <ul class="list-group more-padding">
                        <li class="list-group-item box-exercice" *ngFor="let exercice of workout.program.exercices;let indexExercice = index">
                          <app-athlete-movement-list [class]="'dashboard'" [exercice]="exercice" [hideLocalBox]="true"></app-athlete-movement-list>
                        </li>
                      </ul>
                    </div>

                  </ng-container>

                  <button class="btn-add-athlet"
                          (click)="openInvitationCreateModal()"
                          *ngIf="isFromUrl && lastFlatWorkout && userWorkouts[_workout.date].length - i == rowNumber && userWorkouts[_workout.date].length % totalColumn == rowNumber" href="#">
                    <div class="content">
                      <div class="title">{{ "#Add an athlet" | dgTranslate }}</div>
                      <div class="plus alt"></div>
                    </div>
                  </button>

                </ng-container>

              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
