<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center p4">
      <div
        class="form-inline form-center-radio pt-4 d-flex justify-content-center"
      >
        <div class="btn-group btn-group-toggle" ngbRadioGroup>
          <a
            ngbButtonLabel
            class="btn-light active"
            [routerLink]="links.profile"
          >
            <input ngbButton type="radio" /> {{ "#Readiness" | dgTranslate }}
          </a>
          <a ngbButtonLabel class="btn-light" [routerLink]="links.performance">
            <input ngbButton type="radio" /> {{ "#Perfomance" | dgTranslate }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row profile-container">
    <div class="col-md-6">
      <div class="profile-review-form">
        <div class="list-group list-group-flush">
          <div class="list-group-item">
            <button
              class="btn btn-primary float-right"
              (click)="openCreateModal()"
            >
              <i class="fa fa-plus"></i>
              {{ "#Review" | dgTranslate }}
            </button>
            <h4 class="movement-review-header">
              You personnal bests
            </h4>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Exercice</th>
                <th scope="col">Goal</th>
                <th scope="col">Your RM</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-container  *ngFor="let profile of user.profil; let i=index">
                <tr>
                  <td><b>{{ profile.movement.name }} </b>   <span
                    *ngIf="user.data.max_ref_id === profile.movement_id"
                    class="badge badge-primary"
                    >{{ "#REF" | dgTranslate }}</span
                  >
                  <span
                  *ngIf="
                    profile.ratio_value && profile.ratio_value !== profile.record
                  "
                  >
                    {{ profile | ratioMovement }}%
                  </span>
                
                  </td>
                  <td class="container-ratio"> 
                    <span
                    *ngIf="
                      profile.ratio_value && profile.ratio_value !== profile.record
                    "
                    >
                      {{ profile.ratio_value }}
                      {{ profile.record_unit == 1 ? "kg" : "lbs" }}
                    </span>
                  </td>
                    
                  <td>
                    <span>
                      {{ profile.record }}
                      {{ profile.record_unit == 1 ? "kg" : "lbs" }}
                    </span>
                  </td>
                  <td class="d-flex">
                    <button
                    (click)="openEditModal(profile)"
                    class="btn float-right btn-light ml-4 mr-2"
                  >
                    <i class="fa fa-pencil text-success"></i>
                  </button>
                  <button
                  *ngIf="user.data.max_ref_id !== profile.movement_id"
                  (click)="openDeleteModal(profile)"
                  class="btn float-right btn-light mr-2"
                >
                  <i class="fa fa-trash text-danger"></i>
                </button>
                  </td>     
                </tr>
                <tr>
                  <td class="container-progress" colspan="5">
                    <div class="mb-2 progress height-progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      [ngStyle]="{
                        'width.%': profile | ratioMovement,
                        'background-color': profile.color
                      }"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div> 

                  </td>
                </tr> 
              </ng-container>
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4 d-flex flex-column align-items-center">
      <h4>Exercice evaluation based on your {{profileRef?.movement.name}} </h4>
      <app-customer-profile-level [user]="user"></app-customer-profile-level>
    </div>
  </div>
</div>
