.profile-container {
	background-color: #F1F1F1;

	.profile-left-bar {
		.profile-form {
			background-color: #FFFFFF;
		    min-height: 600px;
		    margin: 44px 60px;
		    padding: 44px;
			.profile-form-title {
				font-size: 12pt;
				font-weight: 700;
				margin-bottom: 30px;
			}
			.profile-form-content {

			}
		}

	}

	.profile-right-bar {
		.profile-mrv {
			margin-top: 100px;
			text-align: center;
			padding: 0 56px;
			.profile-mrv-title {
				font-size: 12pt;
				font-weight: 700;
			}
			.profile-mrv-content {
				p {
					color: #878787;
					font-size: 16px;
					margin-top: 30px;
				}
			}
		}
	}
}

.mrv-score {
	width: 105px;
    border: solid 6px #d44000;
    border-radius: 49%;
    height: 105px;
    margin: 20px auto;
    text-align: center;
    background-color: #fbfbfb;

    .mrv-score-icon {
    	font-family: Lato;
		margin-top: 5px;
		margin-bottom: -10px;
    }

    .mrv-score-number {
		font-size: 33px;
		font-family: Lato;
		font-weight: bold;
		margin-bottom: -5px;
    }

    .mrv-score-label {
    	font-family: Lato;
		font-size: 12px;
    }
}

.profile-review-form {
    padding: 30px 50px;
}

.movement-review-header {
	margin-top: 5px;
	margin-bottom: 0px;
	font-weight: 500;
}

.form-center-radio {
	width: 300px;
	margin: auto;
	margin-top: 25px;
}


a {
	text-decoration: none;
}
