$primary-color-red: #ff0502;
$primary-color-yellow: #cfe223;
$primary-color-green: #00d49d;


.show-mobile {
  display: none;
}

.td-circle-user {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.col-training-zone {
  padding-left: 120px;
}

.lead-body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0 20px;
  margin-bottom: 0;
  padding-bottom: 50px;

  thead {
    tr {
      th {
        border-top: none;
        border-bottom: 1px solid #dee2e6;
      }
    }
  }

  tbody {
    tr {
      background: #fff;
      box-shadow: 1px 1px 10px #dfdfdf;

      td {
        vertical-align: middle;
        border: none;

        .color-red {
          color: $primary-color-red;
        }

        .color-green {
          color: $primary-color-green;
        }

        .color-yellow {
          color: $primary-color-yellow;
        }

        .score {
          color: #777;
        }
      }
    }
  }
}

.user-infos {
  margin-left: 20px;
}

.username {
  text-decoration: none;
  font-weight: 500;
}

.tpc-circle {
  .c100 {
    font-size: 60px;

    .circle-content {
      font-size: 34px;
      text-align: center;

      .title {
        text-transform: uppercase;
        position:relative;
        z-index: 1;
        font-size: 15px;
        color: #fff;
      }
    }

    .slice {
      top: 0;
    }
  }
}


.badge {
  font-size: 15px;
  padding: 13px 18px;
  border-radius: 30px;

  &.red {
    background: $primary-color-red;
    color: #fff;
  }

  &.yellow {
    background: $primary-color-yellow;
    color: #000;
  }

  &.green {
    background: $primary-color-green;
    color: #000;
  }
}

@media (max-width: 480px) {
  table {
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0 20px;

    thead {
      tr {
        th {
          border-bottom: none;
          font-size: 11px;
          padding: 5px;

          &:first-child {
            width: 30%;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 5px;
        }
      }
    }
  }

  .hidden-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  .lead-body {
    margin-top: 50px;
  }

  .tpc-circle {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .username, .score {
    font-size: 13px;
  }

  .td-circle-user {
    margin-left: 0;
  }

  .col-training-zone {
    padding-left: 0;
  }

  .user-infos {
    margin-left: 5px;
  }

  .badge {
    font-size: 11px;
    padding: 6px 10px;
    border-radius: 30px;
  }
}

