<div class="lead-container d-flex">
  <div class="col-md-3 lead-left-bar" *ngIf="size >= responsiveSize">
    <div class="lead-bar-content">
      <div class="readiness-level">
        <h3 class="readiness-level-title">
          {{ "#Your readiness level" | dgTranslate }}
        </h3>
        <div class="mrv-score">
          <div class="mrv-score-icon"><i class="fa fa-heartbeat"></i></div>
          <div class="mrv-score-number">
            {{ (user.data && user.data.mrv_score) || 0 }}/10
          </div>
          <div class="mrv-score-label">{{ "#Score MRV" | dgTranslate }}</div>
        </div>
        <a class="btn btn-secondary btn-edit-secondary"
           [routerLink]="links.profile">{{ "#Edit information" | dgTranslate }}</a>
      </div>
      <div class="strenght-level">
        <h3 class="strenght-level-title">
          {{ "#Your strenght level" | dgTranslate }}
        </h3>
        <div class="mt-4 mb-4">
          <app-customer-profile-level [user]="user"></app-customer-profile-level>
        </div>
        <a class="btn btn-secondary btn-edit-secondary"
           [routerLink]="links.performance">{{ "#Edit perfomances" | dgTranslate }}</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 lead-body">
    <div class="lead-body-content text-center mt-4" *ngIf="isEmpty">
      <button class="btn btn-primary" (click)="openExerciceManagerModal()">
        <i class="fa fa-plus"></i> {{ "#Create a workout" | dgTranslate }}
      </button>
    </div>
    <div class="lead-body-content" *ngIf="!isEmpty">
      <div class="workout-date mb-4" *ngFor="let _wo of flatWorkouts">
        <h4>{{ _wo.label }}</h4>
        <ng-container *ngIf="user.workouts && user.workouts[_wo.date]">
          <ng-container *ngFor="let workout of user.workouts[_wo.date]">

            <ng-container *ngIf="computeFatigueManagementData(workout) as fatigueManagementData">
              <div *ngIf="checkIsToday(_wo.date)" class="fatigue-management-banner {{ fatigueManagementData.color }}-zone">
                <div class="rectangle rectangle--{{ fatigueManagementData.status }}">

                  <ng-container *ngIf="fatigueManagementData.status == 'todo'">
                    <div class="tpc-circle">
                      <div class="c100 p100 red bg-transparent">
                        <div class="circle-content">
                          <img src="assets/img/logo/logo-power.png" srcset="assets/img/logo/logo-power@2x.png 2x,assets/img/logo/logo-power@3x.png 3x" class="logo">
                          <span class="percentage">?/10</span>
                          <div class="text-white sessions">Energy</div>
                        </div>
                        <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                      </div>
                    </div>

                    <div class="descriptions">
                      <div class="title">Hi {{ user.data.firstname }}</div>
                      <div class="title title-separator">,</div>
                      <div class="title">How do you feel today ?</div>
                      <button class="cta text-white" (click)="openStartSessionModal(workout, workout.day, true)">User input</button>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="fatigueManagementData.status == 'in-progress'">
                    <div class="tpc-circle">
                      <div class="c100 p{{ fatigueManagementData.energy }} {{ fatigueManagementData.color }}">
                        <div class="circle-content">
                          <img src="assets/img/logo/logo-power.png" srcset="assets/img/logo/logo-power@2x.png 2x,assets/img/logo/logo-power@3x.png 3x" class="logo">
                          <span class="percentage">{{ fatigueManagementData.energy }}%</span>
                          <div class="text-white sessions">Energy</div>
                        </div>
                        <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                        </div>
                      </div>
                    </div>

                    <div class="descriptions descriptions--no-padding">
                      <div class="title">{{ fatigueManagementData.title }}</div>
                      <div class="subtitle">{{ fatigueManagementData.subtitle }}</div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="fatigueManagementData.status == 'done'">
                    <div class="tpc-optimal-zone clearfix">
                      <div class="optimal-zone--left {{ fatigueManagementData.colorEnergy }}"></div>
                      <div class="optimal-zone">
                        <div class="title">{{ fatigueManagementData.zoneName }}</div>
                        <div class="subtitle">Zone</div>
                      </div>
                      <div class="optimal-zone--right {{ fatigueManagementData.colorRPE }}"></div>
                      <div class="score energy-score {{ fatigueManagementData.colorEnergy }}">
                        <div class="value">{{ fatigueManagementData.energyScore }}/10</div>
                        <div class="subtitle">Energy score</div>
                      </div>
                      <div class="score rpe-score {{ fatigueManagementData.colorRPE }}">
                        <div class="value">{{ fatigueManagementData.rpeScore }}/10</div>
                        <div class="subtitle">RPE</div>
                      </div>
                    </div>
                    <div class="descriptions">
                      <div class="title">Autoregulation tips</div>
                      <div class="subtitle">{{ fatigueManagementData.subtitle }}</div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>

            <div class="workout-session">
              <div *ngIf="workout.program.name" class="workout-session-title">
                {{ workout.program.name }}
              </div>
              <ul class="list-group more-padding">
                <li class="list-group-item box-exercice" *ngFor="
                    let exercice of workout.program.exercices;
                    let indexExercice = index
                  ">
                  <div class="movement-container movement-type-{{
                      exercice.type && exercice.type.id
                    }}">
                    <div class="inputs-exercice-type" *ngIf="exercice.type" [ngSwitch]="exercice.type.id">
                      <div *ngSwitchCase="1">
                        <div class="movement-title" *ngFor="let movement of exercice.movements">
                          {{ movement.name }}
                          <div class="movement-content" *ngFor="let set of movement.sets">
                            <span *ngIf="set.set">{{ set.set }} x {{ set.rep }} @ {{ set.value
                              }}{{ set.unit_label }}</span>
                          </div>
                        </div>
                      </div>
                      <div *ngSwitchCase="2">
                        <div class="movement-title">
                          <span class="mb-2" *ngFor="
                              let movement of exercice.movements;
                              let indMov = index
                            ">
                            <div *ngFor="let set of movement.sets">
                              <span *ngIf="movement.has_rep_unit">
                                {{ movement.name }} <br>
                                {{ set.rep }} {{ getCardioUnitLabel(set.rep_unit) }} @ {{ set.value
                                }}{{ set.unit_label }}
                              </span>
                              <span *ngIf="!movement.has_rep_unit">
                                {{ set.rep }} {{ movement.name }} @ {{ set.value
                                }}{{ set.unit_label }}
                              </span>
                            </div>
                          </span>

                          <div class="movement-content">
                            <span>{{ exercice.sets }}
                              {{ "#Sets" | dgTranslate }}</span>
                          </div>
                        </div>
                      </div>
                      <div *ngSwitchCase="3">
                        <div class="movement-title mb-2" *ngFor="let movement of exercice.movements">
                          <div *ngFor="let set of movement.sets">
                            <span *ngIf="movement.has_rep_unit">
                              {{ movement.name }} <br>
                              {{ set.rep }} {{ getCardioUnitLabel(set.rep_unit) }} @ {{ set.value
                              }}{{ set.unit_label }}
                              </span>
                            <span *ngIf="set.set && !movement.has_rep_unit">
                              {{ movement.sets[0].quantity }} {{ movement.name }} @ {{ set.value
                              }}{{ set.unit_label }}</span>
                          </div>
                        </div>
                        <div class="movement-content">
                          AMRAP: {{ exercice.amrap_timecap }}
                          {{ "#minutes" | dgTranslate }}
                        </div>
                      </div>
                      <div *ngSwitchCase="4">
                        <div class="movement-title" *ngFor="let movement of exercice.movements">
                          <div *ngFor="let set of movement.sets">
                            <span *ngIf="movement.has_rep_unit">
                              {{ movement.name }} <br>
                              {{ set.rep }} {{ getCardioUnitLabel(set.rep_unit) }} @ {{ set.value
                              }}{{ set.unit_label }}
                            </span>
                            <span *ngIf="set.set && !movement.has_rep_unit">
                              {{ movement.sets[0].quantity }} {{ movement.name }} @ {{ set.value
                              }}{{ set.unit_label }}</span>
                          </div>
                        </div>
                        <div class="movement-content">
                          <span *ngIf="exercice.time_style == 1">{{ exercice.time_style_fixed }}
                            {{ "#rounds for time" | dgTranslate }}</span>
                          <span *ngIf="exercice.time_style == 2">{{ exercice.time_style_varying }}
                            {{ "#rounds for time" | dgTranslate }}</span>
                        </div>
                      </div>
                      <div *ngSwitchCase="5">
                        <div class="movement-title" *ngFor="let movement of exercice.movements">
                          <div *ngFor="let set of movement.sets">
                            <span *ngIf="movement.has_rep_unit">
                              {{ movement.name }} <br>
                              {{ set.rep }} {{ getCardioUnitLabel(set.rep_unit) }} @ {{ set.value
                              }}{{ set.unit_label }}
                            </span>
                            <span *ngIf="set.set && !movement.has_rep_unit">
                              {{ movement.sets[0].quantity }} {{ movement.name }} @ {{ set.value
                              }}{{ set.unit_label }}</span>
                          </div>
                        </div>
                        <div class="movement-content">
                          EMOM ({{ exercice.emom_duration }} min every
                          {{ exercice.emom_seconds }} sec)
                        </div>
                      </div>
                      <div *ngSwitchCase="7">
                        <div class="movement-title" *ngIf="exercice.cardio_type">
                          {{
                          configExercices.cardio.flatType[exercice.cardio_type]
                          }}
                        </div>

                        <div class="movement-content" *ngIf="exercice.cardio_scoring == 1">
                          <span>{{ exercice.cardio_cardio_movement.interval }}
                            {{ exercice.cardio_cardio_movement.unit_label }} @
                            {{ exercice.cardio_cardio_movement.value }} %
                          </span>
                        </div>
                        <div *ngIf="exercice.cardio_scoring == 2">
                          <div class="movement-content" *ngFor="
                              let set of exercice.cardio_intervals_movement.sets
                            ">
                            <span *ngIf="set.set">{{ set.set }} x {{ set.interval }}
                              {{ set.unit_label }} @ {{ set.value }} %</span>
                          </div>
                        </div>
                      </div>
                      <div *ngSwitchCase="8">
                        <div class="movement-title">
                          {{ exercice.name }}
                          <small>({{
                            configExercices.flatCustom[exercice.custom_scoring]
                            }})</small>
                        </div>
                        <div class="movement-content custom-content">{{ exercice.custom }}</div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-3 lead-right-bar" *ngIf="size >= responsiveSize">
    <div class="lead-bar-content lead-bar-content-right">
      <app-customer-stats-range [showRange]="false" [isFromUrl]="isFromUrl"></app-customer-stats-range>
      <app-customer-stats [resize]="true" [showCardio]="false" [isFromUrl]="isFromUrl"></app-customer-stats>
      <hr />
      <app-customer-stats-exercice [isFromUrl]="isFromUrl" [isFromOverView]="true"></app-customer-stats-exercice>
    </div>
  </div>
</div>
