<div class="row lead-container">
	<div class="col-md-3 lead-left-bar">
		<div class="lead-bar-content">
			<div class="readiness-level">
				<h3 class="readiness-level-title">{{ '#Your readiness level' | dgTranslate }}</h3>
				<div class="mrv-score">
					<div class="mrv-score-icon"><i class="fa fa-heartbeat"></i></div>
					<div class="mrv-score-number">8/10</div>
					<div class="mrv-score-label">{{ '#Score MRV' | dgTranslate }}</div>
				</div>
				<button class="btn btn-secondary btn-edit-secondary">{{ '#Edit information' | dgTranslate }}</button>
			</div>
			<div class="strenght-level">
				<h3 class="strenght-level-title">{{ '#Your strenght level' | dgTranslate }}</h3>
				<button class="btn btn-secondary btn-edit-secondary">{{ '#Edit perfomances' | dgTranslate }}</button>
			</div>
		</div>
	</div>
	<div class="col-md-6 lead-body">
		<div class="lead-body-content">
			<div class="workout-session">
				<div class="workout-session-title">
					Snatch session
				</div>
				<div class="workout-session-exercice red">
					<div class="workout-session-exercice-title">Snatch</div>
					<div class="workout-session-exercice-content">5 X 3 @ 75%</div>
				</div>

				<div class="workout-session-exercice bleue">
					<div class="workout-session-exercice-title">Snatch deadlift</div>
					<div class="workout-session-exercice-content">3 X 5 @ 85% (120)</div>
				</div>

				<div class="workout-session-exercice green">
					<div class="workout-session-exercice-title">Push press</div>
					<div class="workout-session-exercice-content">3 X 3</div>
				</div>
			</div>

			<div class="workout-session">
				<div class="workout-session-title">
					Snatch session
				</div>
				<div class="workout-session-exercice red">
					<div class="workout-session-exercice-title">Snatch</div>
					<div class="workout-session-exercice-content">5 X 3 @ 75%</div>
				</div>

				<div class="workout-session-exercice bleue">
					<div class="workout-session-exercice-title">Snatch deadlift</div>
					<div class="workout-session-exercice-content">3 X 5 @ 85% (120)</div>
				</div>

				<div class="workout-session-exercice green">
					<div class="workout-session-exercice-title">Push press</div>
					<div class="workout-session-exercice-content">3 X 3</div>
				</div>
			</div>

			<div class="workout-session">
				<div class="workout-session-title">
					Snatch session
				</div>
				<div class="workout-session-exercice red">
					<div class="workout-session-exercice-title">Snatch</div>
					<div class="workout-session-exercice-content">5 X 3 @ 75%</div>
				</div>

				<div class="workout-session-exercice bleue">
					<div class="workout-session-exercice-title">Snatch deadlift</div>
					<div class="workout-session-exercice-content">3 X 5 @ 85% (120)</div>
				</div>

				<div class="workout-session-exercice green">
					<div class="workout-session-exercice-title">Push press</div>
					<div class="workout-session-exercice-content">3 X 3</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 lead-right-bar">
		<div class="lead-bar-content">
			<div class="weekly-overload">
				<h3 class="weekly-overload-title">{{ '#Weekly overload' | dgTranslate }}</h3>
			</div>
		</div>
	</div>
</div>
