.lead-left-bar,
.lead-right-bar {
  background-color: #fff;
}
.lead-bar-content {
  height: 100%;
}

.lead-bar-content-right {
  padding: 20px;
}

.lead-body {
  background-color: #f1f1f1;
  padding: 43px;
  .lead-body-content {
    height: 100%;
    .workout-session {
      background-color: #ffffff;
      padding: 10px 65px 30px;
      margin-top: 20px;
      .workout-session-title {
        border-bottom: solid 2px #f1f1f1;
        font-family: Helvetica;
        font-size: 22px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.14px;
        color: #000000;
        padding-bottom: 19px;
        margin-bottom: 19px;
        margin-top: 20px;
      }
      .workout-session-exercice {
        width: 100%;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
        padding: 17px 35px;
        margin-top: 13px;

        &.red {
          border-left: solid 3px #ff0000;
        }

        &.bleue {
          border-left: solid 3px #0000ff;
        }

        &.green {
          border-left: solid 3px #00ff00;
        }
      }
    }
  }
}

.lead-container {
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}

.readiness-level {
  width: 80%;
  margin: 30px auto;
  padding: 15px 0;
  border-bottom: solid 1px #f1f1f1;
  text-align: center;

  .readiness-level-title {
    font-size: 12pt;
    font-weight: 700;
  }
}

.weekly-overload {
  width: 80%;
  margin: 30px auto;
  padding: 15px 0;
  border-bottom: solid 1px #f1f1f1;
  text-align: center;

  .weekly-overload-title {
    font-size: 12pt;
    font-weight: 700;
  }
}

.strenght-level {
  width: 100%;
  margin: 30px auto;
  padding: 15px 0;
  border-bottom: solid 1px #f1f1f1;
  text-align: center;

  .strenght-level-title {
    font-size: 12pt;
    font-weight: 700;
  }
}

.mrv-score {
  width: 125px;
  border: solid 6px #d44000;
  border-radius: 49%;
  height: 125px;
  margin: 30px auto;
  text-align: center;
  background-color: #fbfbfb;

  .mrv-score-icon {
    font-family: Lato;
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .mrv-score-number {
    font-size: 33px;
    font-family: Lato;
    font-weight: bold;
    margin-bottom: -5px;
    line-height: 54px;
  }

  .mrv-score-label {
    font-family: Lato;
    font-size: 12px;
  }
}

.box-exercice {
  padding: 0;
  border: 0;
  background: none;
  width: 100%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #ffffff;
  margin-top: 13px;
}

.box-exercice:hover {
  background-color: #f9f9f9;
}

.box-body-workout-inputs {
  display: none;
}

.box-body-workout-inputs {
  color: #555555;
  width: 80%;
  background-color: #f1f1f1;
  border: none;
}

.box-body-exercice-inputs {
  width: 100%;
  font-size: 13px;
  margin-left: 0;
  border: none;
}

.zone-rest-day {
  display: block;
  padding: 5px 8px;

  h5 {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 4px;
    border-bottom: solid 1px #f1f1f1;
  }

  textarea.textarea-restday {
    width: 95%;
    font-size: 11px;
    min-height: 40px;
    border: none;
  }
}

.view-description-restday {
  min-height: 50px;
  font-size: 9px;
}

.box-body-workout-views,
.box-body-workout-inputs {
  margin-left: 30px !important;
  font-size: 14px;
  font-weight: 600;
}

.box-body-week-active {
  .zone-drop-legal {
    width: 400px;
    position: relative;
    height: 100px;
  }

  .zone-rest-day {
    width: 400px;
  }

  .view-description-restday-inputs {
    width: 400px;
    display: block;
  }

  .box-body-workout-active {
    width: 400px;
    border: solid 3px #333;

    .box-body-workout-inputs,
    .box-body-exercice-inputs {
      display: inline-block;
    }

    .box-body-workout-views {
      display: none;
    }

    .zone-rest-day.box-body-rest-active {
      width: 400px;
    }
  }

  .zone-rest-day.box-body-rest-active {
    border: solid 3px #333;
  }

  .box-body-workout {
    width: 400px;
  }
}



.container-calendar-template {
  margin-bottom: 100px;
}

  .fatigue-management-banner {
    .rectangle {
      display: block;
      margin: 0px 0px 18px 0px;;
      padding: 21px 0;
      box-shadow: 0 1px 6px 0 rgba(155, 155, 155, 0.5);
      background-color: #161616;
      border-radius: 3px;

      &.rectangle--todo, &.rectangle--in-progress, &.rectangle--done {
        text-align: center;
      }

      @media (max-width: 480px) {
        padding: 21px 0 8px;
      }

      &.rectangle--done {
        padding: 21px 0 8px;
      }
    }

    .oval {
      position: relative;
      width: 112px;
      height: 112px;
      border: solid 6px #d44000;
      border-radius: 49%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .circle-content {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 100px;
      height: 100px;
      vertical-align: top;
      z-index: 2;
      text-align: center;

      .logo {
        position: absolute;
        top: 0;
        left: 30px;
        font-size: 10px;
        width: 32px;
        height: 32px;
      }

      .percentage {
        display: block;
        margin-top: 25px;
        font-size: 40px;
        color: #fff;
      }

      .sessions{
        font-size: 12px;
        margin-top: -7px;
      }
    }

    .title {
      color: #fff;
      text-align: center;
    }

    .subtitle {
      color: #777;
      text-align: center;
      padding: 10px 40px 20px;
      line-height: 19px;

      @media (max-width: 480px) {
        padding: 10px 10px 20px;
        line-height: 17px;
      }
    }

    .content-oval {
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      font-weight: bold;
    }

    .cta{
      display: block;
      background: transparent;
      text-decoration: none;
      width: 116px;
      border: solid 2px #d44000;
      border-radius: 4px;
      color: #ffffff;
      text-align: center;
      margin: auto;
      margin-top: 19px;
      margin-bottom: 19px;
      padding: 4px;

    }

    .descriptions {
      display: inline-block;
      padding-left: 30px;
      vertical-align: top;
      padding-top: 20px;

      &.descriptions--no-padding {
        padding-top: 0 !important;
      }

      .title {
        padding-top: 20px;

        +.title {
          padding-top: 0;
        }
      }
    }

    .title-separator {
      display: inline-block;
      padding-right: 5px;
      color: #fff;
    }

    .rectangle--todo{
      .descriptions {
        .title {
          display: inline-block;
        }
      }
    }

    .rectangle--in-progress {
      .descriptions {
        width: 50%;

        .title {
          padding-top: 30px;
        }

        .subtitle {
          padding-left: 10px;
          color: #fff;
        }
      }
    }

    .rectangle--done {
      .descriptions {
        display: block;
        padding-left: 0;
        padding-top: 0;
        width: 50%;
        text-align: center;
        margin: 0 auto;
      }
    }

    @media (max-width: 480px) {
      width: 100%;
      display: block;

      .title-separator {
        display: none !important;
      }

      .descriptions {
        display: block;
        width: 100%;
        padding-top: 0;
      }

      .rectangle--todo{
        .descriptions {
          padding-left: 0;
          padding-top: 0;
          .title {
            display: block;
          }
        }
      }

      .rectangle--in-progress {
        .descriptions {
          padding-left: 0;
          width: 100%;
        }

        .title {
          padding-top: 20px !important;
        }

        .subtitle {
          color: #777 !important;
          padding-left:0 !important;
        }
      }

      .rectangle--done {
        .descriptions {
          padding-left:0 !important;
          width: auto;
        }
      }
    }
  }

  .start-session {
    width: 100%;
  }


@media (max-width: 480px) {
  .lead-container {
    margin-top: 0px !important;
  }
  .lead-body {
    padding-bottom: 67px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;

    .lead-body-content {
      .workout-session {
        padding: 1px !important;
        border-radius: 10px!important;
        .workout-session-title {
          padding-left: 16px;
          font-size: 16px !important;
        }
      }
    }
  }

  .movement-container {
    .movement-title {
      font-size: 15px !important;
    }

    .movement-content {
      font-size: 11px !important;
    }
  }
  .rectangle {
    display: block;
    margin: 0px 0px 18px 0px;;
    padding: 21px 0 8px;
    box-shadow: 0 1px 6px 0 rgba(155, 155, 155, 0.5);
    background-color: #161616;
    border-radius: 3px;
  }
  .oval {
    position: relative;
    width: 112px;
    height: 112px;
    border: solid 6px #d44000;
    border-radius: 49%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo{
    width: 32px;
    height: 32px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .content-oval{
    font-family: Lato;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }
  .athlets{
    a{
      text-decoration: none;
    }
    width: 116px;
    border: solid 2px #d44000;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 19px;
    margin-bottom: 19px;
    padding: 4px;

  }
  .sessions{
    font-size: 12px;
    margin-top: -7px;
  }
  .more-padding{
    padding: 0px 10px 10px 10px !important;
  }

}
