.lead-left-bar,
.lead-right-bar {
  background-color: #fff;
}
.lead-bar-content {
  height: 100%;
}

.lead-bar-content-right {
  padding: 20px;
}

.lead-body {
  background-color: #f1f1f1;
  padding: 43px;
  .lead-body-content {
    height: 100%;
    .workout-session {
      background-color: #ffffff;
      padding: 10px 65px 30px;
      margin-top: 20px;
      .workout-session-title {
        border-bottom: solid 2px #f1f1f1;
        font-family: Helvetica;
        font-size: 22px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.14px;
        color: #000000;
        padding-bottom: 19px;
        margin-bottom: 19px;
        margin-top: 20px;
      }
      .workout-session-exercice {
        width: 100%;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
        padding: 17px 35px;
        margin-top: 13px;

        &.red {
          border-left: solid 3px #ff0000;
        }

        &.bleue {
          border-left: solid 3px #0000ff;
        }

        &.green {
          border-left: solid 3px #00ff00;
        }
      }
    }
  }
}

.lead-container {
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}

.readiness-level {
  width: 80%;
  margin: 30px auto;
  padding: 15px 0;
  border-bottom: solid 1px #f1f1f1;
  text-align: center;

  .readiness-level-title {
    font-size: 12pt;
    font-weight: 700;
  }
}

.weekly-overload {
  width: 80%;
  margin: 30px auto;
  padding: 15px 0;
  border-bottom: solid 1px #f1f1f1;
  text-align: center;

  .weekly-overload-title {
    font-size: 12pt;
    font-weight: 700;
  }
}

.strenght-level {
  width: 100%;
  margin: 30px auto;
  padding: 15px 0;
  border-bottom: solid 1px #f1f1f1;
  text-align: center;

  .strenght-level-title {
    font-size: 12pt;
    font-weight: 700;
  }
}

.mrv-score {
  width: 125px;
  border: solid 6px #d44000;
  border-radius: 49%;
  height: 125px;
  margin: 30px auto;
  text-align: center;
  background-color: #fbfbfb;

  .mrv-score-icon {
    font-family: Lato;
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .mrv-score-number {
    font-size: 33px;
    font-family: Lato;
    font-weight: bold;
    margin-bottom: -5px;
    line-height: 54px;
  }

  .mrv-score-label {
    font-family: Lato;
    font-size: 12px;
  }
}

.box-exercice {
  padding: 0;
  border: 0;
  background: none;
  width: 100%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #ffffff;
  margin-top: 13px;
}

.box-exercice:hover {
  background-color: #f9f9f9;
}

.box-body-workout-inputs {
  display: none;
}

.box-body-workout-inputs {
  color: #555555;
  width: 80%;
  background-color: #f1f1f1;
  border: none;
}

.box-body-exercice-inputs {
  width: 100%;
  font-size: 13px;
  margin-left: 0;
  border: none;
}

.zone-rest-day {
  display: block;
  padding: 5px 8px;

  h5 {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 4px;
    border-bottom: solid 1px #f1f1f1;
  }

  textarea.textarea-restday {
    width: 95%;
    font-size: 11px;
    min-height: 40px;
    border: none;
  }
}

.view-description-restday {
  min-height: 50px;
  font-size: 9px;
}

.box-body-workout-views,
.box-body-workout-inputs {
  margin-left: 30px !important;
  font-size: 14px;
  font-weight: 600;
}

.box-body-week-active {
  .zone-drop-legal {
    width: 400px;
    position: relative;
    height: 100px;
  }

  .zone-rest-day {
    width: 400px;
  }

  .view-description-restday-inputs {
    width: 400px;
    display: block;
  }

  .box-body-workout-active {
    width: 400px;
    border: solid 3px #333;

    .box-body-workout-inputs,
    .box-body-exercice-inputs {
      display: inline-block;
    }

    .box-body-workout-views {
      display: none;
    }

    .zone-rest-day.box-body-rest-active {
      width: 400px;
    }
  }

  .zone-rest-day.box-body-rest-active {
    border: solid 3px #333;
  }

  .box-body-workout {
    width: 400px;
  }
}


.title-group-datepicker {
  h4 {
    padding-top: 10px;
  }

  .input-group {
    .calendar {
      color: #000000 !important;
      background-color: #e4e4e4;
    }
  }
}


.container-calendar-template {
  margin-bottom: 100px;
}

.start-session {
  width: 100%;
}


@media (max-width: 480px) {
  .lead-container {
    margin-top: 0px !important;
  }
  .lead-body {
    padding: 24px 20px 67px !important;

    .lead-body-content {

      .title-date {
        margin-bottom: 20px;
      }

      .workout-session {
        padding: 1px !important;
        border-radius: 10px!important;
        margin-top: 10px !important;
        .workout-session-title {
          padding-left: 16px;
          font-size: 16px !important;
        }
      }
    }
  }

  .movement-container {
    .movement-title {
      font-size: 15px !important;
    }

    .movement-content {
      font-size: 11px !important;
    }
  }
  .rectangle {
    display: block;
    margin: 0px 0px 18px 0px;;
    padding: 21px 0 8px;
    box-shadow: 0 1px 6px 0 rgba(155, 155, 155, 0.5);
    background-color: #161616;
    border-radius: 3px;
  }
  .oval {
    position: relative;
    width: 112px;
    height: 112px;
    border: solid 6px #d44000;
    border-radius: 49%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo{
    width: 32px;
    height: 32px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .content-oval{
    font-family: Lato;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }
  .athlets{
    a{
      text-decoration: none;
    }
    width: 116px;
    border: solid 2px #d44000;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 19px;
    margin-bottom: 19px;
    padding: 4px;

  }
  .sessions{
    font-size: 12px;
    margin-top: -7px;
  }
  .more-padding{
    padding: 0px 10px 10px 10px !important;
  }

}
