.container-program {
	margin-top: 50px;
	background-color: #FFFFFF;
	padding: 30px 15px;
}

a {
	text-decoration: none;
}

.calendar-text {
	margin-top: 5px;
	font-size: 11px;
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
}
