.select-cardio-scoring {
  width: 150px;
}
.number-movement-list {
  text-align: center;
  display: inline-block;
  width: 100px;
  padding-left: 0;
  height: auto;
}

.number-movement-list-label {
  display: inline-block;
}

.list-group-item {
  border: none;
}

.input-group-text {
  border: 0;
  background-color: #ffffff;
}
.container-sets {
  width: 80%;
}

.btn-light {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.list-group-item--repmax {
  border-bottom: 1px solid #ddd;
  padding-left: 8px;
}

.badge-success {
  margin-bottom: 7px;
}

.container-repmax {
  justify-content: space-between;
  width: 80%;
}

@media (max-width: 480px) {
  .container-repmax {
    width: 80%;
  }

  .input-group-text {
    padding-left: 0;
  }
  .number-movement-list {
    width: 67px;
    margin-left: 0px !important;
  }
  .unit-list {
    width: 94px;
    margin-right: 5px;
  }
  .list-group-item {
    margin: 0;
    padding-left: 20px !important;
  }

  .list-group-item-step {
    padding: 0;
  }

  .container-item-step {
    padding-left: 1px;
    padding-right: 5px;
  }
  .container-sets {
    width: 100%;
  }

  .list-meters, .list-meters-unit {
    width:80px;
  }

  .badge-success {
    margin-left: 0 !important;
  }
}
