.select-cardio-scoring {
  width: 150px;
}
.number-movement-list {
  text-align: center;
  display: inline-block;
  width: 100px;
}

.number-movement-list-label {
  display: inline-block;
}

.input-group-text {
  border: 0;
  background-color: #ffffff;
}
@media (max-width: 480px) {
  .number-movement-list {
    width: 67px;
    margin-left: 0px !important;
  }
  .list-group-item {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 10px !important;
  }
  .container-item-step {
    padding-left: 1px;
    padding-right: 5px;
  }
  .custom-form {
    margin-top: 16px;
  }
}
