<div class="col-md-12" *ngIf="!isStartSession && !newMovement.name">
  <div class="form-group">
    <label>{{ "#Search movement" | dgTranslate }}</label>
    <tpc-input-autocomplete
      [data]="movements"
      type="workout"
      (handleOnChangeSearch)="onChangeSearch($event)"
      (onSelectedItem)="onSelectedItem($event)"
    ></tpc-input-autocomplete>
  </div>
</div>

<tpc-module-new-movement (onCreatedNewMovement)="onCreatedNewMovement($event)" (onCloseNewMovement)="onCloseNewMovement()" [newMovement]="newMovement"></tpc-module-new-movement>

<div class="col-md-12 container-mouvements" *ngIf="model.movements.length">
  <label>{{ "#Movements" | dgTranslate }}</label>
  <div *ngFor="let movement of model.movements; let movementIndex = index" class="list-group-item-step">
    <button class="btn float-right" (click)="removeMovement(movementIndex)">
      <i class="fa fa-close"></i>
    </button>
    <div class="number-movement-list-label ml-2">{{ movement.name }}</div>
    <popover [movement]="movement"></popover>


    <ul class="list-group">
      <li class="list-group-item list-group-item--repmax" *ngIf="isPlanning && movement.has_repmax">
        <div class="form-row align-items-center">
          <div class="col-auto container-repmax-planning">
            <div class="input-group">
              <div class="input-group-prepppend d-flex">
                <span class="input-group-text mb-0 p-0">REPMAX</span>
              </div>
              <input
                placeholder="1"
                [(ngModel)]="movement.max_value"
                type="number"
                class="form-control number-movement-list ml-2"
              />
            </div>
          </div>
          <div class="col-auto" *ngIf="movement.has_rep_unit">
            <select [(ngModel)]="movement.max_unit" type="number" class="form-control number-movement-list unit-list one">
              <option *ngFor="let unit of configExercices.size" [value]="unit.id">
                {{ unit.name }}
              </option>
            </select>
          </div>
        </div>
      </li>

      <li class="list-group-item list-group-item--repmax" *ngIf="isPlanning && !movement.has_repmax">
        <div class="form-row flex-nowrap flex-md-wrap align-items-center">
          <div class="col-md-auto col-9">
            <div class="input-group">
              <div class="input-group-prepppend d-flex justify-content-center">
                <span class="input-group-text pb-0 pt-0">{{ "#MAS" | dgTranslate }}</span>
              </div>
              <input placeholder="1" [(ngModel)]="movement.mas_value" type="number" class="form-control number-movement-list" />
            </div>
          </div>
        </div>
      </li>

      <li *ngFor="let set of movement.sets; let setIndex = index" class="list-group-item pt-0">
        <button class="btn float-right remove-button" *ngIf="movement.sets.length > 1" (click)="removeSet(movement.sets, setIndex)">
          <i class="fa fa-close"></i>
        </button>

        <div class="form-row flex-nowrap flex-md-wrap container-repmax align-items-end">
          <div class="custom-form justify-content-end">
            <div class="input-group flex-column-reverse">
              <input
                *ngIf="movement.has_repetitions || movement.has_rep_unit"
                placeholder="1"
                [(ngModel)]="set.rep"
                type="number"
                class="form-control number-movement-list"
              />
              <div>
                <select [(ngModel)]="set.rep_unit" class="form-control number-movement-list list-meters">
                  <option *ngFor="let unit of configExercices.unit" [value]="unit.id">
                    {{ unit.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="d-flex container-set flex-column-reverse ml-3">
            <div class="custom-form" *ngIf="movement.has_value">
              <input
                placeholder="90"
                [(ngModel)]="set.value"
                type="number"
                class="form-control number-movement-list set"
              />
            </div>

            <div
              class="input-group-apppend"
              *ngIf="movement.has_value && movement.category_id !== 9"
            >
              <select
                [(ngModel)]="set.unit"
                type="number"
                class="form-control number-movement-list unit-list pl-0"
              >
                <option [value]="1">kg</option>
                <option [value]="2">lbs</option>
                <option [value]="3">%</option>
                <option [value]="4">RPE</option>
              </select>

            </div>
          </div>
          <div class="d-flex flex-column justify-content-end container-badge" *ngIf="movement.has_value && movement.category_id !== 9">
            <span *ngIf="movement.max_value && set.unit == 3 && set.rep_unit == 6 && isPlanning" class="ml-3 badge badge-success">
              {{ set.value | unitSizeLabel: movement.max_value:movement.max_unit }}
            </span>
            <span *ngIf="movement.max_value && (set.unit == 1 || set.unit == 2) && set.rep_unit == 6 && isPlanning" class="ml-3 badge badge-success">
              {{ set.value | unitSizeCompar : movement.max_unit : movement.max_value : set.unit }}
            </span>

            <span *ngIf="movement.mas_value && isPlanning && set.rep_unit != 6" class="ml-2 badge badge-success">
              {{ set.value | maximumAerobicSpeed
              : set.rep
                : set.rep_unit
                : set.unit
                : movement.mas_value
              }}
            </span>
        </div>
        </div>
      </li>
    </ul>
    <button class="btn mt-2" (click)="addSet(movement)">
      <i class="fa fa-plus"></i> {{ "#Add set" | dgTranslate }}
    </button>
  </div>
</div>

<div class="col-md-3 mb-4" *ngIf="model.movements.length">
  <div class="col-auto">
    <div class="input-group flex-column-reverse">
      <input
        placeholder="5"
        [(ngModel)]="model.sets"
        type="number"
        class="form-control"
      />
      <div class="input-group-apppend">
        <span class="input-group-text p-0">Sets</span>
      </div>
    </div>
  </div>
</div>
