<div class="col-md-12">
	<div class="form-group">
		<label>{{ '#Search movement' | dgTranslate }}</label>
		<tpc-input-autocomplete
			[data]="movements"
			type="workout"
			(handleOnChangeSearch)="onChangeSearch($event)"
			(onSelectedItem)="onSelectedItem($event)"></tpc-input-autocomplete>
	</div>
</div>

<div class="col-md-12" *ngIf="model.movements.length">
	<label>{{ '#Movements' | dgTranslate }}</label>
	<div *ngFor="let movement of model.movements; let movementIndex=index;" class="list-group-item-step">
		<button class="btn float-right" (click)="removeMovement(movementIndex)"><i class="fa fa-close"></i></button>
		<div class="number-movement-list-label ml-2">{{ movement.name }}</div>

		<ul class="list-group">
			<li class="list-group-item">
				<div class="form-row align-items-center">
			  	<div class="col-auto">
						<div class="input-group">
							<div class="input-group-prepppend">
			          <span class="input-group-text">REPMAX</span>
			        </div>
							<input placeholder="1" [(ngModel)]="movement.max_value" type="number" class="form-control number-movement-list">
			      </div>
			    </div>
			    <div class="col-auto" *ngIf="movement.has_unit && isPlanning">
						<select [(ngModel)]="movement.max_unit" type="number" class="form-control number-movement-list">
							<option *ngFor="let unit of configExercices.size" [value]="unit.id">{{ unit.name }}</option>
						</select>
			    </div>
			  </div>
			</li>
			<li *ngFor="let set of movement.sets; let setIndex=index;" class="list-group-item">
				<button class="btn float-right" *ngIf="movement.sets.length > 1" (click)="removeSet(movement.sets, setIndex)"><i class="fa fa-close"></i></button>

				<div class="form-row align-items-center">
    			<div class="col-auto" *ngIf="movement.has_repetitions">
						<div class="input-group">
							<input placeholder="1" [(ngModel)]="set.rep" type="number" class="form-control number-movement-list">
							<div class="input-group-apppend">
			          <span class="input-group-text">Reps</span>
			        </div>
			      </div>
			    </div>

			    <div class="col-auto" *ngIf="movement.has_value">
						<input placeholder="90" [(ngModel)]="set.value" type="number" class="form-control number-movement-list ml-2 mr-2">
			    </div>

			    <div class="col">
						%
						<span *ngIf="set.value" class="ml-4 badge badge-success">
							{{ set.value | unitSizeLabel : movement.max_value : movement.max_unit }}
						</span>
					</div>
			  </div>
			</li>
		</ul>
		<button class="btn mt-2" (click)="addSet(movement.sets)"><i class="fa fa-plus"></i> {{ '#Add set' | dgTranslate }}</button>
	</div>
</div>

<div class="col-md-3 mb-4" *ngIf="model.movements.length">
	<div class="col-auto">
		<div class="input-group">
			<input placeholder="5" [(ngModel)]="model.sets" type="number" class="form-control">
			<div class="input-group-apppend">
        <span class="input-group-text">Sets</span>
      </div>
    </div>
  </div>
</div>
