 <nav *ngIf="size > responsiveSize" class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <h1 class="pb-2 ml-md-0 ml-sm-3 ml-0 mr-3 pt-2">
          <a href="#" class="img-logo-brand" [routerLink]="['dashboard']"><img src="/assets/img/logo-final.png" width="82" height="82" alt=""></a>
        </h1>
        <div class="collapse navbar-collapse ml-lg-2 ml-0" id="navbarCollapse">
          <div class="nav-top-header">
              <div class="content-header">
                  <div class="text-right">
                    <div class="btn-group">
                       <a class="links-menu mr-2" routerLinkActive="active" [routerLink]="['/athlete', 'programs']">
                        <i class="fa fa-folder"></i> {{ '#Programs' | dgTranslate }}
                      </a>

                      <div class="dropdown profile-menu">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ user.data.firstname }} {{ user.data.lastname }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" [routerLink]="['/athlete', 'dashboard']">{{ '#Dashboard' | dgTranslate }}</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" [routerLink]="['/athlete', 'coach']">{{ '#Coachs' | dgTranslate }}</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item"[routerLink]="['/athlete', 'programs']">{{ '#Programs' | dgTranslate }}</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" [routerLink]="['/athlete', 'settings', 'profile']">{{ '#Settings' | dgTranslate }}</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" target="_blank" href="http://www.theperfclub.com/ressources">{{ '#Documentation' | dgTranslate }}</a>
                          <div class="dropdown-divider"></div>
                          <button class="dropdown-item" (click)="logout()" href="#">{{ '#Logout' | dgTranslate }}</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="nav-bottom-header">
              <div class="content-header">
                <button class="btn btn-primary float-right mr-4" (click)="openExerciceManagerModal()"><i class="fa fa-plus"></i> {{ '#Create a workout' | dgTranslate }}</button>
                <ul class="navbar-nav flex-row mb-md-1 mt-md-0 mb-3 mt-2">
                  <li class="nav-item">
                      <a class="nav-link py-0 pr-3" #dashboard="routerLinkActive" routerLinkActive="active" [routerLink]="['/athlete', 'dashboard']">
                        <img class="icon mr-2" src="{{dashboard.isActive ? 'assets/img/dashboard_active.svg' : 'assets/img/dashboard_inactive.svg'}}"/>
                        <span [ngClass]="{ 'isActive': dashboard.isActive }">{{ "#Dashboard" | dgTranslate }}</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link py-0 pr-3" #profile="routerLinkActive" routerLinkActive="active" [routerLink]="['/athlete', 'profile']">
                        <img class="icon mr-2" src="{{profile.isActive ? 'assets/img/profile_active.svg' : 'assets/img/profile_inactive.svg'}}"/>
                        <span [ngClass]="{ 'isActive': profile.isActive }">{{ "#Profile" | dgTranslate }}</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link py-0 pr-3"  #planning="routerLinkActive" routerLinkActive="active" [routerLink]="['/athlete', 'calendar']">
                        <img class="icon mr-2" src="{{planning.isActive ? 'assets/img/planning_active.svg' : 'assets/img/planning_inactive.svg'}}"/>
                        <span [ngClass]="{ 'isActive': planning.isActive }">{{ "#Planning" | dgTranslate }}</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link py-0 pr-3" #stats="routerLinkActive" routerLinkActive="active" [routerLink]="['/athlete', 'stats']">
                        <img class="icon mr-2" src="{{stats.isActive ? 'assets/img/stats_active.svg' : 'assets/img/stats_inactive.svg'}}"/>
                        <span [ngClass]="{ 'isActive': stats.isActive }">{{ "#Statistics" | dgTranslate }}</span>
                      </a>
                  </li>
                </ul>
              </div>
            </div>
        </div>
    </div>
</nav>

<nav *ngIf="size <= responsiveSize">
  <div class="container-fluid top-custom-nav">
    <div class="row align-items-center">
      <div class="col-9 text-sm-right text-md-left">
        <a href="#" class="left-menu-title" [routerLink]="['dashboard']"><img src="/assets/img/logo-final.png" width="30" height="30" alt="">
        <span class="ml-2">ThePerfClub</span>
        </a>
      </div>
      <div class="col-2 text-sm-left text-md-right"><button class="btn" (click)="toogleRightMenu()"><img src="assets/img/hamburger.svg"/></button></div>
    </div>
  </div>
</nav>

<div [class.cover-menu]="showLeftMenu || showRightMenu"></div>

<div
  *ngIf="size <= responsiveSize"
  class="responsive-left-menu fixed-bottom text-white"
>
  <ul class="nav nav-tabs nav-pills nav-fill">
    <li class="nav-item">
      <a
        #dashboard="routerLinkActive"
        class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0"
        routerLinkActive="active"
        [routerLink]="['dashboard']"
      >
          <img class="icon" src="{{dashboard.isActive ? 'assets/img/dashboard_active.svg' : 'assets/img/dashboard_inactive.svg'}}"/>
          <span [ngClass]="{ 'isActive': dashboard.isActive }">{{ "#Dashboard" | dgTranslate }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        #profile="routerLinkActive"
        class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0"
        routerLinkActive="active"
        [routerLink]="['profile']"
      >
        <img class="icon" src="{{profile.isActive ? 'assets/img/profile_active.svg' : 'assets/img/profile_inactive.svg'}}"/>
        <span [ngClass]="{ 'isActive': profile.isActive }"> {{ "#Profile" | dgTranslate }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a
       #planning="routerLinkActive"
        class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0"
        routerLinkActive="active"
        [routerLink]="['calendar']"
      >
      <img class="icon" src="{{planning.isActive ? 'assets/img/planning_active.svg' : 'assets/img/planning_inactive.svg'}}"/>
      <span [ngClass]="{ 'isActive': planning.isActive }"> {{ "#Planning" | dgTranslate }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        #stats="routerLinkActive"
        class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0"
        routerLinkActive="active"
        [routerLink]="['stats']"
      >
      <img class="icon" src="{{stats.isActive ? 'assets/img/stats_active.svg' : 'assets/img/stats_inactive.svg'}}"/>
      <span [ngClass]="{ 'isActive': stats.isActive }"> {{ "#Statistics" | dgTranslate }}</span>
      </a>
    </li>
  </ul>
</div>


<div class="responsive-right-menu" [class.responsive-right-menu-toogled]="!showRightMenu">
  <div class="text-left pb-2" (click)="showRightMenu=false"><i class="fa fa-close"></i></div>
   <div>
    <div class="list-group list-group-flush">      
      <a class="list-group-item list-group-item-action" (click)="hiddenMenu()" routerLinkActive="active" [routerLink]="['/athlete', 'dashboard']">
        <i class="fa fa-home mr-2"></i>
        {{ '#Dashboard' | dgTranslate }}
      </a>
      <a class="list-group-item list-group-item-action" (click)="hiddenMenu()" routerLinkActive="active" [routerLink]="['/athlete', 'programs']">
        <i class="fa fa-folder mr-2"></i>
        {{ '#Programs' | dgTranslate }}
      </a>
      <a class="list-group-item list-group-item-action" (click)="hiddenMenu()" routerLinkActive="active" [routerLink]="['/athlete', 'coach']">
        <i class="fa fa-folder mr-2"></i>
        {{ '#Coachs' | dgTranslate }}
      </a>
      <a class="list-group-item list-group-item-action" (click)="hiddenMenu()" routerLinkActive="active" [routerLink]="['/athlete', 'settings', 'profile']">
        <i class="fa fa-cog mr-1"></i>
        {{ '#Settings' | dgTranslate }}
      </a>
      <a class="list-group-item list-group-item-action" target="_blank" (click)="hiddenMenu()" routerLinkActive="active" href="http://www.theperfclub.com/ressources">
        <i class="fa fa-question mr-1"></i>
        {{ '#Documentation' | dgTranslate }}
      </a>
      <a class="list-group-item list-group-item-action" (click)="logout()" href="#">
        <i class="fa fa-sign-out mr-1"></i>
        {{ '#Logout' | dgTranslate }}
      </a>
    </div>
  </div>
</div>


<div class="container-fluid body-content-sections">
    <router-outlet></router-outlet>
</div>
