.img-logo-brand {
	z-index: 100000;
  position: absolute;
  left: 36px;
  top: 25px;
}
.nav-top-header {
	color: #FFFFFF;
	position: absolute;
  left: 0;
  top: 0;
  height: 65px;
  padding: 8px 0 10px 174px;
  width: 100%;
  background-color: #000000;
}
.links-menu {
	float: right;
	text-decoration: none;
	color: #F1F1F1;
  	position: absolute;
  	top: 20px;
  	right: 150px;
}
.profile-menu {
	float: right;
  position: absolute;
  top: 13px;
  right: 20px;
  color: #FFF;

  #navbarDropdownMenuLink {
  	color: #FFFFFF;
  }

  a {
  	text-decoration: none;
  }
}
.nav-bottom-header {
	color: #FFFFFF;
	position: absolute;
  left: 0;
  top: 65px;
  height: 65px;
  padding: 8px 0 10px 164px;
  width: 100%;
  background-color: #161616;



	.content-header {
	  margin-top: 10px;

		.nav-link {
			padding-bottom: 10px !important;
			font-size: 14px;
			margin-right: 50px;
			text-decoration: none !important;
			color: #E1E1E1;

			&.active {
	  		border-bottom: solid 3px #d44000;
			}
		}
  }
}

.body-content-sections {
	padding-top: 90px;
	padding-left: 0;
	padding-right: 0;
	height: 100%;
	background-color: #F1F1F1;
}

.selection-program {
	font-size: 13px;
	color: #CCCCCC;
	.selection-program-name {
		font-size: 18px;
		color: #FFFFFF;
		margin-top: 0;
	}
}
