<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <h1 class="pb-2 ml-md-0 ml-sm-3 ml-0 mr-3 pt-2">
        	<a href="#" class="img-logo-brand"><img src="/assets/img/logo.png" width="82" height="82" alt=""></a>
        </h1>
        <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-lg-2 ml-0" id="navbarCollapse">
        	<div class="nav-top-header">
            	<div class="content-header">
            		<a class="links-menu" routerLinkActive="active" [routerLink]="['/athlete', 'programs']">
            			<i class="fa fa-folder"></i> {{ '#Programs' | dgTranslate }}
            		</a>
		            <div class="dropdown profile-menu">
					        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          {{ user.data.firstname }} {{ user.data.lastname }}
					        </a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					          <a class="dropdown-item" href="#">{{ '#Dashboard' | dgTranslate }}</a>
					          <a class="dropdown-item" href="#">{{ '#Programs' | dgTranslate }}</a>
					          <div class="dropdown-divider"></div>
					          <a class="dropdown-item" href="#">{{ '#Settings' | dgTranslate }}</a>
					          <a class="dropdown-item" href="#">{{ '#Documentation' | dgTranslate }}</a>
					          <div class="dropdown-divider"></div>
					          <button class="dropdown-item" (click)="logout()" href="#">{{ '#Logout' | dgTranslate }}</button>
					        </div>
					      </div>
		          </div>
		        </div>
            <div class="nav-bottom-header">
            	<div class="content-header">
	            	<button class="btn btn-primary float-right mr-4" (click)="openExerciceManagerModal()"><i class="fa fa-plus"></i> {{ '#Create a workout' | dgTranslate }}</button>
	            	<ul class="navbar-nav flex-row mb-md-1 mt-md-0 mb-3 mt-2">
	                <li class="nav-item">
	                    <a class="nav-link py-0 pr-3" routerLinkActive="active" [routerLink]="['/athlete', 'dashboard']">
	                    	<i class="fa fa-user-circle-o mr-2"></i>
	                    	{{ '#Overview' | dgTranslate }}
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link py-0 pr-3" routerLinkActive="active" [routerLink]="['/athlete', 'profile']">
	                    	<i class="fa fa-heartbeat mr-1"></i>
	                    	{{ '#Profile' | dgTranslate }}
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link py-0 pr-3" routerLinkActive="active" [routerLink]="['/athlete', 'calendar']">
	                    	<i class="fa fa-calendar-o mr-1"></i>
	                    	{{ '#Planning' | dgTranslate }}
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link py-0 pr-3" routerLinkActive="active" [routerLink]="['/athlete', 'stats']">
	                    	<i class="fa fa-bar-chart mr-1"></i>
	                    	{{ '#Statistics' | dgTranslate }}
	                    </a>
	                </li>
		            </ul>
	            </div>
	          </div>
        </div>
    </div>
</nav>
<div class="container-fluid body-content-sections">
    <router-outlet></router-outlet>
</div>
