<div class="modal-body text-center">

  <img src="/assets/img/header-trial.png" alt=""/>

  <div>
    <p class="pt-3">{{ '#Entrez vos informations de carte de crédit et continuez à essayer ThePerfClub.' | dgTranslate }}</p>
    <p class="pt-3">{{ '#Vous ne serez pas débité pendant ces 14 jours supplémentaires.' | dgTranslate }}</p>
    <p>{{ '#Vous pouvez annuler à tout moment.' | dgTranslate }}</p>

    <a class="btn btn-primary mt-3" href="https://www.theperfclub.com/subscription/">{{ "#Prolonger l'essai" | dgTranslate }}</a>

    <p class="pt-3">{{ "#Vous pensez que c'est une erreur ? Vous avez une question ou besoin de plus de temps ?" | dgTranslate }}</p>

    <a class="mail-to" href="mailto:contact@theperfclub.com">{{ '#Contactez-nous' | dgTranslate }}</a>
    <p>{{ '#et nous déverouillerons votre compte.' | dgTranslate }}</p>

  </div>
</div>

