.box-stats-left {
  border-radius: 5px;
  background-color: #FFFFFF;
  min-height: 500px;
  padding: 10px;
  margin: 20px;
  margin-right: 0;
}

.box-stats-right {
  border-radius: 5px;
  background-color: #FFFFFF;
  min-height: 500px;
  padding: 10px;
  margin: 20px;
  margin-left: 0;
}
.calendar-top {
  padding: 10px 35px 0;
}
