.box-stats-left {
  border-radius: 5px;
  background-color: #ffffff;
  min-height: 500px;
  padding: 10px;
  margin: 20px;
  margin-right: 0;
}

.box-stats-right {
  border-radius: 5px;
  background-color: #ffffff;
  min-height: 500px;
  padding: 10px;
  margin: 20px;
  margin-left: 0;
}
.calendar-top {
  padding: 10px 35px 0;
}
@media (max-width: 480px) {
  .box-stats-left {
    padding: 0px;
    margin: 0px;
    background-color: transparent !important;
  }
  .box-stats-right {
    margin: 20px 0 20px 0;
  }
}
