.box-stats-left {
	border-radius: 5px;
	background-color: #FFFFFF;
	min-height: 500px;
	padding: 10px;
	margin: 20px;
	margin-right: 0;
}

.box-stats-right {
	border-radius: 5px;
	background-color: #FFFFFF;
	min-height: 500px;
	padding: 10px;
	margin: 20px;
	margin-left: 0;
}
.calendar-top {
	padding: 10px 35px 0;
}
.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
