<div class="row">
	<div class="col-md-12 text-center p4">
		<div class="form-inline form-center-radio">
			<div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentTab">
			  <label ngbButtonLabel class="btn-light">
			    <input ngbButton type="radio" [value]="0"> {{ '#Readiness' | dgTranslate }}
			  </label>
			  <label ngbButtonLabel class="btn-light">
			    <input ngbButton type="radio" [value]="1"> {{ '#Perfomance' | dgTranslate }}
			  </label>
			</div>
		</div>
	</div>
</div>

<div class="row profile-container" *ngIf="currentTab === 0">
	<div class="col-md-6 profile-left-bar">
		<div class="profile-form">
			<div class="profile-form-title">{{ '#Your information' | dgTranslate }}</div>
			<div class="profile-form-content">
				<div class="row">
					<div class="col-md-12 mt-2">
						<label>{{ '#Gender' | dgTranslate }}</label>
						<select class="form-control" [(ngModel)]="user.data.gender">
							<option *ngFor="let gender of configMrv.gender" [value]="gender.id">{{ gender.name }}</option>
						</select>
					</div>

					<div class="col-md-12 mt-2">
						<label>{{ '#Age' | dgTranslate }}</label>
						<select class="form-control" [(ngModel)]="user.data.age">
							<option *ngFor="let age of configMrv.age" [value]="age.id">{{ age.name }}</option>
						</select>
					</div>

					<div class="col-md-12 mt-2" *ngIf="user.data.gender == 1">
						<label>{{ '#Height' | dgTranslate }}</label>
						<select class="form-control" [(ngModel)]="user.data.height">
							<option *ngFor="let height of configMrv.height" [value]="height.id">{{ height.name }}</option>
						</select>
					</div>

					<div class="col-md-12 mt-2" *ngIf="user.data.gender == 1">
						<label>{{ '#Weight' | dgTranslate }}</label>
						<select class="form-control" [(ngModel)]="user.data.weight">
							<option *ngFor="let weight of configMrv.weight" [value]="weight.id">{{ weight.name }}</option>
						</select>
					</div>

					<div class="col-md-12 mt-2" *ngIf="user.data.gender == 2">
						<label>{{ '#Height' | dgTranslate }}</label>
						<select class="form-control" [(ngModel)]="user.data.height">
							<option *ngFor="let height of configMrv.heightWomen" [value]="height.id">{{ height.name }}</option>
						</select>
					</div>

					<div class="col-md-12 mt-2" *ngIf="user.data.gender == 2">
						<label>{{ '#Weight' | dgTranslate }}</label>
						<select class="form-control" [(ngModel)]="user.data.weight">
							<option *ngFor="let weight of configMrv.weightWomen" [value]="weight.id">{{ weight.name }}</option>
						</select>
					</div>

					<div class="col-md-12 mt-2">
						<label>{{ '#Strenght' | dgTranslate }}</label>
						<select class="form-control" [(ngModel)]="user.data.strenght">
							<option *ngFor="let strenght of configMrv.strenght" [value]="strenght.id">{{ strenght.name }}</option>
						</select>
					</div>

					<div class="col-md-12 mt-2">
						<label>{{ '#Experience' | dgTranslate }}</label>
						<select class="form-control" [(ngModel)]="user.data.experience">
							<option *ngFor="let experience of configMrv.experience" [value]="experience.id">{{ experience.name }}</option>
						</select>
					</div>

					<div class="col-md-12 mt-2">
						<label>{{ '#Diet' | dgTranslate }}</label>
						<select class="form-control" [(ngModel)]="user.data.diet">
							<option *ngFor="let diet of configMrv.diet" [value]="diet.id">{{ diet.name }}</option>
						</select>
					</div>

					<div class="col-md-12 mt-2">
						<label>{{ '#Sleep' | dgTranslate }}</label>
						<select class="form-control" [(ngModel)]="user.data.sleep">
							<option *ngFor="let sleep of configMrv.sleep" [value]="sleep.id">{{ sleep.name }}</option>
						</select>
					</div>

					<div class="col-md-12 mt-2">
						<label>{{ '#Stress' | dgTranslate }}</label>
						<select class="form-control" [(ngModel)]="user.data.stress">
							<option *ngFor="let stress of configMrv.stress" [value]="stress.id">{{ stress.name }}</option>
						</select>
					</div>

					<div class="col-md-12 mt-2">
						<label>{{ '#Recovery' | dgTranslate }}</label>
						<select class="form-control" [(ngModel)]="user.data.recovery">
							<option *ngFor="let recovery of configMrv.recovery" [value]="recovery.id">{{ recovery.name }}</option>
						</select>
					</div>

					<div class="col-md-12 mt-2">
						<div class="form-group no-margin">
							<button type="submit" (click)="save()" [disabled]="isLoading" class="btn btn-primary btn-block">
								{{ '#Save' | dgTranslate }}
							</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="col-md-6 profile-right-bar">
		<div class="profile-mrv">
			<div class="profile-mrv-title">{{ '#Your readiness level' | dgTranslate }}</div>
			<div class="profile-mrv-content">
				<div class="mrv-score">
					<div class="mrv-score-icon"><i class="fa fa-heartbeat"></i></div>
					<div class="mrv-score-number">{{user.data.mrv_score}}/10</div>
					<div class="mrv-score-label">{{ '#Score MRV' | dgTranslate }}</div>
				</div>
				<p>{{ '#Hint to guide the volume level. A strong note indicates that you can have a high volume level. This index is also useful for comparing multiple athletes, and scheduling them accordingly.' | dgTranslate}}</p>
			</div>
		</div>
	</div>
</div>

<div class="row profile-container" *ngIf="currentTab === 1">
	<div class="col-md-6">
		<div class="profile-review-form">
			<div class="list-group list-group-flush">
				<div class="list-group-item">
					<button class="btn btn-primary float-right" (click)="openCreateModal()">
						<i class="fa fa-plus"></i>
						{{ '#Review' | dgTranslate }}
					</button>
					<h4 class="movement-review-header">{{ user.profil.length }} {{ '#Movements' | dgTranslate }}</h4>
				</div>
				<div *ngFor="let profile of user.profil" class="list-group-item">
					{{ profile.movement.name }} = {{ profile.record }} {{ profile.record_unit == 1 ? 'kg' : 'lbs' }}
					<button (click)="openDeleteModal(profile)" class="btn float-right btn-light mr-2" ><i class="fa fa-trash text-danger"></i></button>
					<button (click)="openEditModal(profile)" class="btn float-right btn-light ml-4 mr-2" ><i class="fa fa-pencil text-success"></i></button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 mt-4">
		<div style="display: block">
	      <canvas baseChart
	        [datasets]="radarChartData"
	        [options]="radarChartOptions"
	        [labels]="radarChartLabels"
	        [chartType]="radarChartType">
	      </canvas>
	    </div>
	</div>
</div>
