.container-fluid {
  background: #f1f1f1;
  padding-bottom: 80px;
}

.calendar {
  background-color: #e4e4e4;
}

.module-metrics {
  padding: 30px;

  h3 {
    font-size: 12pt;
    font-weight: 700;
  }
}

.module-stats {
  padding: 30px;
  border-radius: 5px;
}

.module-history {
  padding: 30px;
  border-radius: 5px;

  table {
    width: 100%;

    .row-new-result {
      td {
        padding: 15px;
        border-bottom: 1px solid #ddd;

        &:first-child {
          padding-left: 0;
        }
      }
    }

    .row-result {
      td {
        padding: 15px;
        border-bottom: 1px solid #ddd;

        .fa-close {
          cursor: pointer;
        }
      }

      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }

  }
}

@media (max-width: 480px) {
  .module-metrics {
    padding: 20px 0;
  }

  .module-stats {
    padding: 15px;
  }

  .module-history {
    padding: 15px;
  }

  .panel-metric-selected {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);

    .panel-metric-content {
      margin-top: 70px;
      background: #fff;
    }
  }
}
