.fatigue-management-banner {

  &.fatigue-management-banner--left {
    margin-left: 15px;

    @media (max-width: 480px) {
      margin-left: 0;
    }
  }

  &.fatigue-management-banner--right {
    margin-right: 15px;

    @media (max-width: 480px) {
      margin-right: 0;
    }
  }

  .rectangle {
    display: block;
    margin: 0px 0px 18px 0px;;
    padding: 21px 0;
    box-shadow: 0 1px 6px 0 rgba(155, 155, 155, 0.5);
    background-color: #161616;
    border-radius: 3px;

    &.rectangle--todo, &.rectangle--in-progress, &.rectangle--done {
      text-align: center;
    }

    @media (max-width: 480px) {
      padding: 21px 0 8px;
    }

    &.rectangle--done {
      padding: 21px 0 8px;
    }
  }

  .oval {
    position: relative;
    width: 112px;
    height: 112px;
    border: solid 6px #d44000;
    border-radius: 49%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .circle-content {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    vertical-align: top;
    z-index: 2;
    text-align: center;

    .logo {
      position: absolute;
      top: 0;
      left: 30px;
      font-size: 10px;
      width: 32px;
      height: 32px;
    }

    .percentage {
      display: block;
      margin-top: 25px;
      font-size: 40px;
      color: #fff;
    }

    .sessions{
      font-size: 12px;
      margin-top: -7px;
    }
  }

  .title {
    color: #fff;
    text-align: center;
    padding-top: 20px;

    +.title {
      padding-top: 0;
    }
  }

  .subtitle {
    color: #777;
    text-align: center;
    padding: 10px 40px 20px;
    line-height: 19px;

    @media (max-width: 480px) {
      padding: 10px 10px 20px;
      line-height: 17px;
    }
  }

  .content-oval {
    font-family: Lato;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }

  .score {
    .description {
      color: #fff;
      text-align: center;
      font-size: 14px;

      @media (max-width: 480px) {
        font-size: 12px;
      }
    }
  }

  .cta{
    display: block;
    background: transparent;
    text-decoration: none;
    width: 116px;
    border: solid 2px #d44000;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 19px;
    margin-bottom: 19px;
    padding: 4px;

  }

  .descriptions {
    display: inline-block;
    padding-left: 30px;
    vertical-align: top;
    padding-top: 20px;

    &.descriptions--no-padding {
      padding-top: 0 !important;
    }
  }

  .title-separator {
    display: inline-block;
    padding-right: 5px;
    color: #fff;
  }

  .rectangle--todo{
    .descriptions {
      .title {
        display: inline-block;
      }
    }
  }

  .rectangle--in-progress {
    .descriptions {
      width: 50%;

      .title {
        padding-top: 30px;
      }

      .subtitle {
        padding-left: 10px;
        color: #fff;
      }
    }
  }

  .rectangle--done {
    .descriptions {
      display: block;
      padding-left: 0;
      padding-top: 0;
      width: 50%;
      text-align: center;
      margin: 0 auto;
    }
  }

  @media (max-width: 480px) {
    width: 100%;
    display: block;

    .title-separator {
      display: none !important;
    }

    .descriptions {
      display: block;
      width: 100%;
      padding-top: 0;
    }

    .rectangle--todo{
      .descriptions {
        padding-left: 0;
        padding-top: 0;
        .title {
          display: block;
        }
      }
    }

    .rectangle--in-progress {
      .descriptions {
        padding-left: 0;
        width: 100%;
      }

      .title {
        padding-top: 20px !important;
      }

      .subtitle {
        color: #777 !important;
        padding-left:0 !important;
      }
    }

    .rectangle--done {
      .descriptions {
        padding-left:0 !important;
        width: auto;
      }
    }
  }



  .tpc-optimal-zone {
    width: 80%;
    margin-left: 10%;
    height: 280px;
    display: block;

    @media (max-width: 480px) {
      height: 330px;
    }

    .title {
      top: 45px;
      background: transparent;
      padding: 0;
      font-size: 20px;
      margin: 0 auto;
      display: block;
    }

    .c100 {
      font-size: 120px;
    }

    .optimal-zone--left{
      top: 60px;
    }

    .optimal-zone--right{
      top: 60px;
    }

    .circle-content {
      width: 80px;
      height: 80px;
    }

    .logo {
      left: 20px;
      width: 40px;
      height: 40px;
    }

    .energy-score {
      top: 130px;
      margin-left: -40px;

      @media (max-width: 480px) {
        margin-left: -30px;
      }
    }

    .rpe-score {
      top: 130px;
      margin-right: -40px;

      @media (max-width: 480px) {
        margin-right: -30px;
      }
    }

    .value {
      padding-bottom: 0;
    }

    .subtitle {
      padding-top: 0;
    }

    &.tpc-optimal-zone--single {
      .optimal-zone {
        position: relative;
      }

      .score {
        top: 0;
        width: 100%;

        .value {
          width: 100%;
        }
      }
    }
  }

  .subtitle-circle {
    position: absolute;
    color: #777;
    top: 140px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
  }
}
