.container-program {
  background-color: #ffffff;
  padding: 30px 15px;
}

a {
  text-decoration: none;
}

.calendar-text {
  margin-top: 5px;
  font-size: 11px;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
}
@media (max-width: 480px) {
  .assign-athlet {
    display: none;
  }
  .dropdown-menu.show {
    left: -120px !important;
  }
  .title-program {
    font-size: 22px !important;
  }
  .container-button-program {
    padding: 0;
  }
}
