<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label>{{ '#Your current password' | dgTranslate }}</label>
			<input [(ngModel)]="model.currentPassword" type="password" autocomplete="new-password" class="form-control">
		</div>
	</div>

	<div class="col-md-12">
		<div class="form-group">
			<label>{{ '#Your new password' | dgTranslate }}</label>
			<input minlength="8" maxlength="50" [(ngModel)]="model.newPassword" type="password" autocomplete="new-password" class="form-control">
			<div class="password-strength-meter">
				<password-strength-meter [password]="model.newPassword"></password-strength-meter>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="form-group">
			<label>{{ '#Confirm your new password' | dgTranslate }}</label>
			<input [(ngModel)]="model.confirmNewPassword" type="password" autocomplete="new-password" class="form-control">
		</div>
	</div>
	<div class="col-md-12">
		<button type="submit" (click)="save()" [disabled]="isLoading" class="btn btn-primary btn-block btn-sm">
			{{ '#Save' | dgTranslate }}
		</button>
	</div>
</div>
