<ng-container *ngIf="isLogged">
  <nav class="navbar navbar-expand-md fixed-top">
      <a href="#" class="img-logo-brand" [routerLink]="['onboarding']"><img src="/assets/img/logo-final.png" width="82" height="82" alt=""></a>
      <div class="nav-header">
        <button (click)="skip()" class="btn btn-primary float-right mr-4">{{ "#Skip" | dgTranslate }}</button>
        <ul class="navbar-nav flex-row justify-content-center">
          <li class="nav-item active">
            <span class="position">1</span>
            <a class="nav-link d-sm-flex">
              <span class="title">{{ size <= responsiveSize ? ("#Session" | dgTranslate) : ("#Create 1st session" | dgTranslate) }}</span>
            </a>
          </li>

          <li [ngClass]="[onboardingStep.firstSession || onboardingStep.energyScore ? 'nav-item active' : 'nav-item']">
            <span class="position">2</span>
            <a class="nav-link d-sm-flex">
              <span class="title">{{ size <= responsiveSize ? ('#Energy' | dgTranslate) : ('#Energy level' | dgTranslate) }}</span>
            </a>
          </li>

          <li [ngClass]="[onboardingStep.firstSession && onboardingStep.energyScore ? 'nav-item active' : 'nav-item']">
            <span class="position">3</span>
            <a class="nav-link d-sm-flex">
              <span class="title">{{ size <= responsiveSize ? ('#Stats' | dgTranslate) : ('#Get training stats' | dgTranslate) }}</span>
            </a>
          </li>
        </ul>
      </div>
  </nav>

  <div class="container-fluid content">
      <app-athlete-dashboard [isFromUrl]="isFromUrl" [hideCalendar]="hideCalendar"></app-athlete-dashboard>
  </div>
</ng-container>
