<h3 *ngIf="showCanvas" class="text-center mt-4 mb-4">
  {{ "#Weekly overload" | dgTranslate }}
</h3>
<div class="row mt-4 mb-4 container-score d-flex justify-content-center">
  <div class="col-sm-3 col-md-3 text-center container-mrv">
    <div class="mrv-score black">
      <div class="mrv-score-icon">
        <img src="assets/img/logo/logo-muscle.png" srcset="
            assets/img/logo/logo-muscle@2x.png 2x,
            assets/img/logo/logo-muscle@3x.png 3x
          " class="logo" />
        <div class="mrv-score-number">{{ stats.weekly.volumeRound }}</div>
      </div>
    </div>
    <div class="label-round">{{ "#Volume" | dgTranslate | uppercase }}</div>
  </div>
  <div class="col-sm-3 col-md-3 text-center container-mrv">
    <div class="mrv-score grey">
      <div class="mrv-score-icon">
        <img src="assets/img/logo/logo-alt-re.png" srcset="
            assets/img/logo/logo-alt-re@2x.png 2x,
            assets/img/logo/logo-alt-re@3x.png 3x
          " class="logo" />
        <div class="mrv-score-number">{{ stats.weekly.tonnageRound }}</div>
      </div>
    </div>
    <div class="label-round">{{ "#Tonnage" | dgTranslate | uppercase }}</div>
  </div>
  <div class="col-sm-3 col-md-3 text-center container-mrv">
    <div class="mrv-score purple">
      <div class="mrv-score-icon">
        <img src="assets/img/logo/logo-cardio.png" srcset="
            assets/img/logo/logo-cardio@2x.png 2x,
            assets/img/logo/logo-cardio@3x.png 3x
          " class="logo" />
        <div class="mrv-score-number">{{ stats.weekly.distanceRound }}</div>
      </div>
    </div>
    <div class="label-round">{{ "#Distance" | dgTranslate | uppercase }}</div>
  </div>
</div>
<div *ngIf="showCanvas" class="box-stats-title">
  <div>
    <div>
      <div [ngClass]="{ 'chart-size': resize }" class="chart-container" style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>

<!-- <h3 *ngIf="showCardio" class="text-center mt-4 mb-4">
  {{ "#Cardio" | dgTranslate }}
</h3>
<div *ngIf="showCardio" class="box-stats-title">
  <div>
    <div>
      <div style="display: block">
        <canvas
          baseChart
          [datasets]="barChartCardioData"
          [labels]="barChartLabels"
          [options]="barChartCardioOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
      </div>
    </div>
  </div>
</div> -->