<h3 *ngIf="showCanvas" class="text-center mt-4 mb-4">
  {{ "#Weekly overload" | dgTranslate }}
</h3>
<div class="row mt-4 mb-4">
  <div class="col-md-4 text-center">
    <div class="mrv-score black">
      <div class="mrv-score-icon"></div>
      <div class="mrv-score-number">{{ stats.weekly.volumeRound }}</div>
    </div>
    {{ "#Volume" | dgTranslate | uppercase }}
  </div>
  <div class="col-md-4 text-center">
    <div class="mrv-score grey">
      <div class="mrv-score-icon"></div>
      <div class="mrv-score-number">{{ stats.weekly.tonnageRound }}</div>
    </div>
    {{ "#Tonnage" | dgTranslate | uppercase }}
  </div>
  <div class="col-md-4 text-center">
    <div class="mrv-score red">
      <div class="mrv-score-icon"></div>
      <div class="mrv-score-number">{{ stats.weekly.intensiteRound }}</div>
    </div>
    {{ "#Av. weight" | dgTranslate | uppercase }}
  </div>
</div>
<div *ngIf="showCanvas" class="box-stats-title">
  <div>
    <div>
      <div style="display: block">
        <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>

<h3 *ngIf="showCardio" class="text-center mt-4 mb-4">
  {{ "#Cardio" | dgTranslate }}
</h3>
<div *ngIf="showCardio" class="box-stats-title">
  <div>
    <div>
      <div style="display: block">
        <canvas
          baseChart
          [datasets]="barChartCardioData"
          [labels]="barChartLabels"
          [options]="barChartCardioOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
