.number-movement-list {
	text-align: center;
	display: inline-block;
	width: 100px;
}

.number-movement-list-label {
	display: inline-block;
}

.input-group-text  {
	border: 0;
	background-color: #FFFFFF;
}
