.number-movement-list {
  text-align: center;
  display: inline-block;
  width: 80px;
  height: 33px;
}

.number-movement-list-label {
  display: inline-block;
}

.input-group-text {
  border: 0;
  background-color: #ffffff;
  color: #8a8a8a;
  margin-bottom: 6px;
}

.list-group-item {
  padding: 10px 0 10px 20px;
}
.custom-form {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
.badge-success {
  margin-bottom: 7px;
}
.unit-list {
  border:none;
  width: 100%;
  padding: 0;
}
.container-repmax {
  justify-content: space-between;
  width:61%;
}
@media (max-width: 480px) {
  .container-repmax {
    width: 100%;
  }
  .container-mouvements {
    padding: 0 15px 0 15px;
  
  }
  .container-set {
    width: 100%;
    z-index: 1000;
  }
  .number-movement-list {
    width: 60px;
  }
  .list-group-item-step {
    box-shadow: 0 0 black;
    padding: 0;
  }

  .list-group {
    width: 100%;
    display: inline-block;
    padding-left: 3px;
  }
  
  .number-movement-list.unit-list {
    border:none;
    padding:0;
  }

  .custom-form {
    padding-left: 0 !important;
  }
  .col-md-auto.custom-form {
    margin-right: -90px;
  }
  .unit-list.one {
    width: 100%;
  }
  .remove-button {
    margin-left: -63px;
  }
  .container-badge {
    padding-right: 8px;
  }
  .list-meters, .list-meters-unit {
    width:80px;
  }

}

