<!-- Menu TOP Desktop -->
<nav *ngIf="size > responsiveSize" class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <h1 class="pb-2 ml-md-0 ml-sm-3 ml-0 mr-3 pt-2">
      <a [routerLink]="['/coach', 'dashboard']" (click)="setActiveTab('training')" class="img-logo-brand">
        <img src="/assets/img/logo-final.png" width="82" height="82" alt=""/>
      </a>
    </h1>
    <div class="collapse navbar-collapse ml-lg-2 ml-0" id="navbarCollapse">
      <div class="nav-top-header">
        <div class="content-header">
          <div class="col-md-12">
            <span>
              <button *ngIf="currentUser.data" class="btn btn-dark rounded-pill" (click)="openClientManagerModal()">
                <i class="fa fa-user-circle"></i>
                {{ currentUser.data?.firstname }}
                {{ currentUser.data?.lastname }}
              </button>
              <button *ngIf="!currentUser.data" class="btn btn-dark rounded-pill" (click)="openClientManagerModal()">
                <i class="fa fa-plus"></i>
                {{ "#Choose an athlet" | dgTranslate }}
              </button>
            </span>
            <div class="btn-group float-right">
              <a class="links-menu mr-4" [routerLink]="['/coach', 'dashboard']" (click)="setActiveTab('training')">
                <i class="fa fa-user"></i> {{ "#Team" | dgTranslate }}
              </a>
              <a class="links-menu mr-2" routerLinkActive="active" [routerLink]="['/coach', 'programs']">
                <i class="fa fa-folder"></i> {{ "#Programs" | dgTranslate }}
              </a>

              <div class="dropdown profile-menu">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.data.firstname }} {{ user.data.lastname }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="['/coach', 'dashboard']" (click)="setActiveTab('planning')">{{ "#Dashboard" | dgTranslate }}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="['/coach', 'clients']">{{ "#Athlets" | dgTranslate }}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="['/coach', 'programs']">{{ "#Programs" | dgTranslate }}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="['/coach', 'settings', 'profile']">{{ "#Settings" | dgTranslate }}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" target="_blank" href="http://www.theperfclub.com/ressources">{{ '#Documentation' | dgTranslate }}</a>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item" (click)="logout()">{{ "#Logout" | dgTranslate }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--
      <div class="nav-bottom-header" *ngIf="isSelected">
        <div class="content-header">
          <button class="btn btn-primary float-right mr-4" (click)="openExerciceManagerModal()">
            <i class="fa fa-plus"></i> {{ "#Create a workout" | dgTranslate }}
          </button>
          <ul class="navbar-nav flex-row mb-md-1 mt-md-0 mb-3 mt-2">
            <li class="nav-item">
              <a #dashboard="routerLinkActive" class="nav-link py-0 pr-3 d-flex" routerLinkActive="active" [routerLink]="['/coach', 'athlet', 'dashboard']">
                <img class="icon mr-2" src="{{dashboard.isActive ? 'assets/img/dashboard_active.svg' : 'assets/img/dashboard_inactive.svg'}}"/>
                <span [ngClass]="{ 'isActive': dashboard.isActive }">{{ "#Dashboard" | dgTranslate }}</span>
              </a>
            </li>
            <li class="nav-item">
              <a #profile="routerLinkActive" class="nav-link py-0 pr-3 d-flex" routerLinkActive="active" [routerLink]="['/coach', 'athlet', 'profile']">
                <img class="icon mr-2" src="{{profile.isActive ? 'assets/img/profile_active.svg' : 'assets/img/profile_inactive.svg'}}"/>
                <span [ngClass]="{ 'isActive': profile.isActive }"> {{ "#Profile" | dgTranslate }}</span>
              </a>
            </li>
            <li class="nav-item">
              <a #planning="routerLinkActive" class="nav-link py-0 pr-3 d-flex" routerLinkActive="active" [routerLink]="['/coach', 'athlet', 'calendar']">
                <img class="icon mr-2" src="{{planning.isActive ? 'assets/img/planning_active.svg' : 'assets/img/planning_inactive.svg'}}"/>
                <span [ngClass]="{ 'isActive': planning.isActive }"> {{ "#Planning" | dgTranslate }}</span>
              </a>
            </li>
            <li class="nav-item">
              <a #stats="routerLinkActive" class="nav-link py-0 pr-3 d-flex" routerLinkActive="active" [routerLink]="['/coach', 'athlet', 'stats']">
                <img class="icon mr-2" src="{{stats.isActive ? 'assets/img/stats_active.svg' : 'assets/img/stats_inactive.svg'}}"/>
                <span [ngClass]="{ 'isActive': stats.isActive }"> {{ "#Statistics" | dgTranslate }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      -->

    </div>
  </div>
</nav>

<!-- Menu TOP Mobile -->
<nav *ngIf="size <= responsiveSize">
  <div class="container-fluid top-custom-nav">
    <div class="row align-items-center">
      <div class="col-2">
          <a [routerLink]="['/coach', 'dashboard']" (click)="setActiveTab('planning')"><img src="/assets/img/logo-final.png" width="38" height="38" alt=""/></a>
      </div>
      <div class="col-10 pl-0">
        <div *ngIf="showFormTwoDate" [ngClass]="[size <= responsiveSize ? 'row' : 'row pt-4 ml-2']">
          <div class="col-md-12 calendar-top">
            <div class="float-left">
              <app-customer-stats-range [isFromUrl]="isFromUrl" [keepDates]="keepDates"></app-customer-stats-range>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div [class.cover-menu]="showLeftMenu || showRightMenu"></div>


<!-- Menu MOBILE coach with selected Athlete BOTTOM -->
<div *ngIf="currentUser.data && size <= responsiveSize" class="responsive-left-menu fixed-bottom text-white">
  <ul class="nav nav-tabs nav-pills nav-fill">
    <li class="nav-item">
      <a #team="routerLinkActive" class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0" routerLinkActive="active" [routerLink]="['/coach', 'dashboard']" (click)="setActiveTab('planning')">
        <img class="icon" src="{{team.isActive ? 'assets/img/team_active.svg' : 'assets/img/team_inactive.svg'}}"/>
        <span [ngClass]="{ 'isActive': team.isActive }">{{ "#Team" | dgTranslate }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a #programs="routerLinkActive" class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0" routerLinkActive="active" [routerLink]="['/coach', 'programs']">
        <img class="icon" src="{{programs.isActive ? 'assets/img/planning_active.svg' : 'assets/img/planning_inactive.svg'}}"/>
        <span [ngClass]="{ 'isActive': programs.isActive }"> {{ "#Programs" | dgTranslate }}</span>
      </a>
    </li>

    <li class="nav-item nav-item--main">
      <a class="nav-link" (click)="openClientManagerModal()">
        <span>{{ currentUser.data?.firstname }} {{ currentUser.data?.lastname }}</span>
        <img class="icon-bottom-right" src="assets/img/change-athlete.svg">
      </a>
    </li>

    <li class="nav-item">
      <a #client="routerLinkActive" class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0" routerLinkActive="active" [routerLink]="['/coach', 'clients']">
        <img class="icon" src="{{client.isActive ? 'assets/img/profile_active.svg' : 'assets/img/profile_inactive.svg'}}"/>
        <span [ngClass]="{ 'isActive': client.isActive }"> {{ "#Athlets" | dgTranslate }}</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link nav-link--menu list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0" (click)="toogleRightMenu()">
        <img class="icon" src="assets/img/hamburger.svg"/>
        <span> {{ "#Menu" | dgTranslate }}</span>
      </a>
    </li>
  </ul>
</div>

<!-- Menu MOBILE Coach BOTTOM -->
<div *ngIf="!currentUser.data && size <= responsiveSize" class="responsive-left-menu fixed-bottom text-white">
  <ul class="nav nav-tabs nav-pills nav-fill">

    <li class="nav-item">
      <a #team="routerLinkActive" class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0" routerLinkActive="active" [routerLink]="['/coach', 'dashboard']" (click)="setActiveTab('planning')">
        <img class="icon" src="{{team.isActive ? 'assets/img/team_active.svg' : 'assets/img/team_inactive.svg'}}"/>
        <span [ngClass]="{ 'isActive': team.isActive }">{{ "#Team" | dgTranslate }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a #programs="routerLinkActive" class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0" routerLinkActive="active" [routerLink]="['/coach', 'programs']">
        <img class="icon" src="{{programs.isActive ? 'assets/img/planning_active.svg' : 'assets/img/planning_inactive.svg'}}"/>
        <span [ngClass]="{ 'isActive': programs.isActive }"> {{ "#Programs" | dgTranslate }}</span>
      </a>
    </li>

    <li class="nav-item nav-item--main">
      <a class="nav-link" (click)="openClientManagerModal()">
        <span>{{ "#Choose an athlet" | dgTranslate }}</span>
        <img class="icon-bottom-right" src="assets/img/change-athlete.svg">
      </a>
    </li>

    <li class="nav-item">
      <a #client="routerLinkActive" class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0" routerLinkActive="active" [routerLink]="['/coach', 'clients']">
        <img class="icon" src="{{client.isActive ? 'assets/img/profile_active.svg' : 'assets/img/profile_inactive.svg'}}"/>
        <span [ngClass]="{ 'isActive': client.isActive }"> {{ "#Athlets" | dgTranslate }}</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link nav-link--menu list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0" (click)="toogleRightMenu()">
        <img class="icon" src="assets/img/hamburger.svg"/>
        <span> {{ "#Menu" | dgTranslate }}</span>
      </a>
    </li>

  </ul>
</div>

<!-- Menu Hamburger -->
<div class="responsive-right-menu" [class.responsive-right-menu-toogled]="!showRightMenu">
  <div class="text-left pb-2" (click)="showRightMenu = false">
    <i class="fa fa-close"></i>
  </div>
  <div>
    <div class="list-group list-group-flush">

      <a class="list-group-item list-group-item-action" (click)="hiddenMenu();setActiveTab('planning')" routerLinkActive="active" [routerLink]="['/coach', 'dashboard']">
        <i class="fa fa-home mr-2"></i>
        {{ "#Dashboard" | dgTranslate }}
      </a>
      <a class="list-group-item list-group-item-action" (click)="hiddenMenu()" routerLinkActive="active" [routerLink]="['/coach', 'programs']">
        <i class="fa fa-folder mr-2"></i>
        {{ "#Programs" | dgTranslate }}
      </a>
      <a class="list-group-item list-group-item-action" (click)="hiddenMenu()" routerLinkActive="active" [routerLink]="['/coach', 'clients']" >
        <i class="fa fa-users mr-2"></i>
        {{ "#Athlets" | dgTranslate }}
      </a>
      <a class="list-group-item list-group-item-action" (click)="hiddenMenu()" routerLinkActive="active" [routerLink]="['/coach', 'settings', 'profile']">
        <i class="fa fa-cog mr-1"></i>
        {{ "#Settings" | dgTranslate }}
      </a>
      <a class="list-group-item list-group-item-action" (click)="hiddenMenu()" routerLinkActive="active" target="_blank" href="http://www.theperfclub.com/ressources">
        <i class="fa fa-question mr-1"></i>
        {{ "#Documentation" | dgTranslate }}
      </a>
      <a class="list-group-item list-group-item-action" (click)="logout()" href="#">
        <i class="fa fa-sign-out mr-1"></i>
        {{ "#Logout" | dgTranslate }}
      </a>
    </div>
  </div>
</div>

<div class="container-fluid body-content-sections">
  <router-outlet></router-outlet>
</div>
