/* You can add global styles to this file, and also import other style files */
@import "_font.scss";
// primary font
$primary_font: "Lato";
// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
// Font size
$font-xs: 12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;
body {
  font-family: $primary_font, "Arial", Helvetica, Arial, serif;
  font-size: $primary-fs;
  font-weight: $regular;
}

.form-control {
  border-radius: 5px;
  border: solid 1px #e1e1e1;
  background-color: #ffffff;
  color: #999 !important;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c1c1c1;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c1c1c1;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c1c1c1;
}

.btn {
  border-radius: 10px;
}

.btn-primary {
  background-color: #d44000 !important;
  border: 0;
}

.btn-primary:hover {
  background-color: #e2622a !important;
}

.btn-secondary {
  background-color: #f1f1f1 !important;
  color: #d44000 !important;
  border: 0;
  border-radius: 5px;
}

.btn-gray {
  background-color: #868e95 !important;
  color: #f1f1f1 !important;
}

.btn-edit-secondary {
  padding: 5px 20px;
}


.fs-10 {font-size: 10px !important;}
.fs-11 {font-size: 11px !important;}
.fs-12 {font-size: 12px !important;}
.fs-13 {font-size: 13px !important;}
.fs-14 {font-size: 14px !important;}
.fs-15 {font-size: 15px !important;}
.fs-16 {font-size: 16px !important;}

a {
  color: rgba(112, 83, 211, 1);
  font-size: 18px;
  text-decoration: underline;
}

.logo-img-brand {
  position: absolute;
  width: 94px !important;
  left: 30px;
  top: 20px;
}

.card-title {
  border-bottom: solid 1px #555;
  margin-bottom: 15px !important;
  text-align: center;
  font-weight: 700;

  p {
    font-weight: 100;
    font-size: 18px;
    margin-top: 20px;
  }
}

.card-body {
  padding: 10px 40px;
}

.card {
  border-radius: 0px;
}

.btn-block {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container-auth {
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.alert {
  border-radius: 0px;
}

html,
body {
  height: 100%;
}

h4 {
  margin-bottom: 30px;
}

.my-login-page {
  font-size: 14px;
}

.my-login-page .brand {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  margin: 40px auto;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

.my-login-page .brand img {
  width: 100%;
}

.my-login-page .card-wrapper {
  width: 600px;
}

.my-login-page .card {
  border-color: transparent;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

.my-login-page .card.fat {
  padding: 10px;
}

.my-login-page .card .card-title {
  margin-bottom: 30px;
}

.my-login-page .form-control {
  border-width: 2.3px;
}

.my-login-page .form-group label {
  width: 100%;
}

.my-login-page .btn.btn-block {
  padding: 12px 10px;
}

.my-login-page .margin-top20 {
  margin-top: 20px;
}

.my-login-page .no-margin {
  margin: 0;
}

.my-login-page .footer {
  margin: 40px 0;
  color: #888;
  text-align: center;
}

.text-bottom-link {
  color: #ffffff;
  font-size: 18px;
}

select {
  width: 100%;
  padding: 5px 10px 5px 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  height: 34px;
  color: #999 !important;
  //-webkit-appearance: none;
  outline: none;
  // background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #FFFFFF;
  // background-position: 92% 51%;
}

select:focus,
select.form-control:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="text"].box-body-workout-inputs:focus,
[type="text"].box-body-exercice-inputs:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 #ddd;
}

// Dragula Start
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
// Dreagula end

.checkbox label:after,
.radio label:after {
  content: "";
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 0.25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: 0.5em;
  background-color: #ffffff;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: 0.8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all 0.3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: 0.5;
}

.checkbox.float-left {
  float: left !important;
  position: absolute;
}

datatable-body-cell,
ngx-datatable {
  overflow: visible !important;
}
.dropdown-toggle::after {
  content: initial;
}

/* Spinner */

.spinner-ctnr {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  .spinner.colorwheel {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 100%;
    z-index: 0;
    // margin-top: 15%;
    // margin-left: 45%;
  }
  .spinner.colorwheel::before,
  .spinner.colorwheel::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .spinner.colorwheel::after {
    background: #f1f1f1;
    -webkit-animation: rotate 1.5s linear reverse infinite;
    animation: rotate 1.5s linear reverse infinite;
    // -webkit-animation: fade 1s infinite alternate, rotate 2.5s linear reverse infinite;
    // animation: fade 1s infinite alternate, rotate 2.5s linear reverse infinite;
  }

  .spinner .centerpiece {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 100%;
    border-color: #000;
    box-sizing: border-box;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #e2622a;
    border-top: 12px solid #e2622a;
    -webkit-animation: rotate 0.8s linear infinite;
    animation: rotate 0.8s linear infinite;
  }
  .logo-fixed {
    background-image: url("/assets/img/logo-final.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 94px;
    height: 109px;
    display: inline-block;
    z-index: 100;
    left: 0;
    right: 0;
    top: 15px;
    bottom: 0;
    margin: auto;
    position: absolute;
  }
}

@media (max-width: 768px) {
  .spinner-ctnr {
    .spinner.colorwheel {
      // margin-top: 15%;
      // margin-left: 35%;
    }
  }
}

// @-webkit-keyframes fade {
//   from { opacity: 1; }
//   to { opacity: 0.2; }
// }
// @keyframes fade {
//   from { opacity: 1; }
//   to { opacity: 0.2; }
// }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Spinner end */

.list-group-item-step {
  border-left: solid 3px #ff0000;
  margin-bottom: 20px;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 26px 32px;
  font-size: 14pt;
  font-weight: 500;
}

.ng-autocomplete {
  width: auto !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 46vh;
  max-width: 52vw;
  @media (max-width: 720px) {
    height: 40vh;
    max-width: 86vw;
  }
}
.chart-size {
  height: 40vh !important;
  width: 22vw !important;
}
.ngb-dp-months {
  @media (max-width: 480px) {
    display: block !important;
  }
}
.btn-outline-secondary {
  border-color: #e4e4e4 !important;
  background-color: #e4e4e4 !important;
}
.btn-outline-secondary:hover {
  border-color: #e4e4e4 !important;
  background-color: #e4e4e4 !important;
}
.ngb-dp-arrow {
  .btn-link {
    color: #d44000;
  }
}
.ngb-dp-week {
  .ngb-dp-day {
    .custom-day.range {
      background-color: #d44000;
    }
    .custom-day.faded {
      background-color: rgb(212, 64, 0, 0.5);
    }
    .custom-day:hover {
      background-color: #d44000;
    }
  }
}

.ngb-dp-today, .ngb-dp-day {
  .bg-primary {
    background-color: #d44000 !important;
  }
}

#navbar-planning {
  .dropdown-menu.show {
    @media (max-width: 480px) {
      width:100%!important;
    }
  }
}
.list-meters {
  border:none;
  padding:0;
}
.unit-list {
  border:none;
}
.custom-content {
  white-space: pre-line;
}

.icon {
  width:18px;
  height: 18px;
}

@media (max-width: 480px) {
  .popover{
    position:fixed!important;
    left:50%!important;
    top:50%!important;
    transform:translate(-50%,-50%) translate3d(0,0,0)!important;
    margin: 0!important;
  }
}



.tpc-badge {
  padding: 2px 10px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 10px;
  margin-left: 5px;

  &.tpc-badge-1 {
    border: 1px solid #00d49d;
    color: #00d49d;
  }

  &.tpc-badge-2 {
    border: 1px solid #9953c9;
    color: #9953c9;
  }

  &.tpc-badge-3 {
    border: 1px solid #c1c1c1;
    color: #c1c1c1;
  }

  &.tpc-badge-4 {
    border: 1px solid #d44000;
    color: #d44000;
  }

  &.tpc-badge-5 {
    border: 1px solid #1000ff;
    color: #1000ff;
  }
}

.exercice-comment {
  background: #f1f1f1;
  padding: 6px;
  margin-top: 6px;
  font-size: 10px;
  white-space: pre-wrap;
}

.add-exercice {
  background-color: #f1f1f1;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.54px;
  text-align: center;
  color: #d44000;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px transparent !important;
  padding: 0.4rem 1.5rem;
  margin-bottom: 20px;
}


.tpc-optimal-zone {
  display: inline-block;
  width: 50%;
  position: relative;
  height: 160px;

  @media (max-width: 480px) {
    display: block;
    width: 100%;
    height: 180px;
  }

  .title {
    margin-top: 40px;
  }

  .optimal-zone--left {
    position: absolute;
    width: 180px;
    height: 62px;
    display: inline-block;
    border-top: 1px dashed green;
    border-left: 1px dashed green;
    top: 15px;
    left: 30px;

    &.green {border-color: #00d49d;}
    &.yellow {border-color: #cfe223;}
    &.red {border-color: #ff0502;}

    &.low {border-color: #e6e2ff;}
    &.medium {border-color: #a495f9;}
    &.high {border-color: #1000ff;}

    @media (max-width: 480px) {
      width: 80px;
      height: 72px;
    }
  }

  .optimal-zone {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    right: 0;
    z-index: 1;

    .title {
      font-size: 35px;
      padding: 0 15px;
      margin-top: -12px;
      display: inline-block;
      background: #161616;
      z-index: 3;
      position: relative;

      @media (max-width: 480px) {
        padding: 0 8px;
      }
    }

    .subtitle {
      padding-top: 0;
      color: #fff;
    }
  }

  .optimal-zone--right {
    position: absolute;
    display: inline-block;
    width: 180px;
    height: 62px;
    border-top: 1px dashed red;
    border-right: 1px dashed red;
    right: 30px;
    top: 15px;

    &.green {border-color: #00d49d;}
    &.yellow {border-color: #cfe223;}
    &.red {border-color: #ff0502;}

    &.low {border-color: #e6e2ff;}
    &.medium {border-color: #a495f9;}
    &.high {border-color: #1000ff;}

    @media (max-width: 480px) {
      width: 80px;
      height: 72px;
    }
  }



  .score {
    position: relative;
    top: 80px;
    width: 180px;

    @media (max-width: 480px) {
      top: 90px;
      width: 120px;
    }

    .value {
      color: white;
      text-align: center;
      font-size: 30px;
      width: 180px;
      padding: 5px 0;
      border-radius: 40px;

      @media (max-width: 480px) {
        width: 120px;
      }
    }

    .subtitle {
      padding: 5px 0;
      font-size: 13px;
    }

    &.green {
      .value {
        border: 3px solid #00d49d;
        background: rgba(0, 212, 157, 0.1);
      }
    }

    &.yellow {
      .value {
        border: 3px solid #cfe223;
        background: rgba(207, 226, 35, 0.1);
      }
    }

    &.red {
      .value {
        border: 3px solid #ff0502;
        background: rgba(255, 5, 2, 0.1);
      }
    }

    &.low {
      .value {
        border: 3px solid #e6e2ff;
        background: rgba(20, 20, 20, 0.1);
      }
    }

    &.medium {
      .value {
        border: 3px solid #a495f9;
        background: rgba(100, 100, 255, 0.1);
      }
    }

    &.high {
      .value {
        border: 3px solid #1000ff;
        background: rgba(0, 0, 255, 0.1);
      }
    }
  }

  .energy-score {
    margin-left: -50px;
    float: left;

    @media (max-width: 480px) {
      margin-left: 10px;
    }
  }

  .rpe-score {
    margin-right: -50px;
    float: right;

    @media (max-width: 480px) {
      margin-right: 10px;
    }
  }
}

/****************************************************************
 *
 * CSS Percentage Circle
 * Author: Andre Firchow
 *
*****************************************************************/
@import "~compass-mixins/lib/compass";

// VARS
$circle-width: 0.06em;
$circle-width-hover: 0.04em;

// colors default
$primary-color: #307bbb;
$secondary-color: #F1F1F1;
$bg-color: #161616;

$primary-color-green: #00d49d;
$primary-color-yellow: #cfe223;
$primary-color-red: #ff0502;
$primary-color-gray: #c1c1c1;
$primary-color-purple: #8f5ac3;

$primary-color-low: #e6e2ff;
$primary-color-medium: #a495f9;
$primary-color-high: #1000ff;

.tpc-circle {
  display: inline-block;

  @media (max-width: 480px) {
    display: block;
    width: 100%;
  }

  .rect-auto{
    clip: rect(auto, auto, auto, auto);
  }

  .pie {
    position: absolute;
    border: $circle-width solid $primary-color;
    width: 1 - (2 * $circle-width);
    height: 1 - (2 * $circle-width);
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    @include rotate(0deg);
  }

  .pie-fill {
    @include rotate(180deg);
  }

  .c100 {
    *, *:before, *:after {
      @include box-sizing(content-box);
    }

    position: relative;
    font-size: 141px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0 auto;
    background-color: $secondary-color;

    // centered value inside circle
    > span {
      position: absolute;
      width: 100%;
      z-index: 1;
      left: 0;
      top: 0;
      width: 5em;
      line-height: 5em;
      font-size: 0.2em;
      color: $secondary-color;
      display: block;
      text-align: center;
      white-space: nowrap;
      @include transition-property(all);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-out);
    }

    &:after{
      position: absolute;
      top: $circle-width;
      left: $circle-width;
      display: block;
      content: " ";
      border-radius: 50%;
      background-color: $bg-color;
      width: 1 - (2 * $circle-width);
      height: 1 - (2 * $circle-width);
      @include transition-property(all);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);

    }

    .slice {
      position: absolute;
      width: 1em;
      height: 1em;
      clip: rect(0em, 1em, 1em, 0.5em);
    }

    .bar {
      @extend .pie;
    }


    // loop to create all needed elements automatically
    @for $j from 51 through 100 {

      &.p#{$j} .slice {
        @extend .rect-auto;
      }

      &.p#{$j} .bar:after{
        @extend .pie-fill;
      }

      &.p#{$j} .fill{
        @extend .pie;
        @extend .pie-fill;
      }
    }

    // loop to rotate all 100 circles
    @for $j from 1 through 100 {
      &.p#{$j} .bar {
        @include rotate((360/100*$j) + deg);
      }
    }

    &.green{
      .bar, .fill { border-color: $primary-color-green !important;}
      &:hover{
        > span { color: $primary-color-green;}
      }
    }

    &.yellow{
      .bar, .fill { border-color: $primary-color-yellow !important;}
      &:hover{
        > span { color: $primary-color-yellow;}
      }
    }

    &.red{
      .bar, .fill { border-color: $primary-color-red !important;}
      &:hover{
        > span { color: $primary-color-red;}
      }
    }

    &.low{
      .bar, .fill { border-color: $primary-color-low !important;}
      &:hover{
        > span { color: $primary-color-low;}
      }
    }

    &.medium{
      .bar, .fill { border-color: $primary-color-medium !important;}
      &:hover{
        > span { color: $primary-color-medium;}
      }
    }

    &.high{
      .bar, .fill { border-color: $primary-color-high !important;}
      &:hover{
        > span { color: $primary-color-high;}
      }
    }

    &.gray{
      .bar, .fill { border-color: $primary-color-gray !important;}
      &:hover{
        > span { color: $primary-color-gray;}
      }
    }

    &.purple{
      .bar, .fill { border-color: $primary-color-purple !important;}
      &:hover{
        > span { color: $primary-color-purple;}
      }
    }



    &.bg-transparent {
      background: transparent !important;
    }
  }
}

.tpc-submenu {
  padding-left: 15px;
  list-style: none;
  li {
    float: left;
    display: block;
    padding: 0 15px;

    a {
      padding: 10px 0;
      text-transform: uppercase;
      text-decoration: none;
      color: #777;
      font-size: 14px;
      font-weight: 500;

      &.active {
        color: #000;
        border-bottom: 2px solid #d44000;
      }
    }

    &:first-child{
      padding-left: 0;
    }
  }

  @media (max-width: 480px) {
    padding-bottom: 5px !important;
    margin: 0 auto;
    text-align:center;

    li {
      float:none;
      display: inline-block;

      a{
        padding: 5px 0;
        font-size: 14px;
      }
    }

  }
}

@media (max-width: 480px) {
  .row-tpc-submenu-calendar {
    padding-top: 15px !important;
    .pb-4 {
      padding-bottom: 5px !important;
    }
  }
}

.tpc-carousel {
  .indicators {
    bottom: 80px;

    li {
      .ball {
        background: #777;
      }

      &.active {
        .ball {
          background: #fff;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .tpc-carousel {
    .carousel {
      padding-bottom: 0;

      section {
        touch-action: pan-y !important;
      }
    }

    .indicators {
      bottom: 50px;
    }
  }
}
.rectangle {
  margin: 0px 0px 18px 0px;;
  padding: 21px 0;
  box-shadow: 0 1px 6px 0 rgba(155, 155, 155, 0.5);
  background-color: #161616;
  border-radius: 3px;
}

.tpc-accordion {

  .card {
    margin-top: 20px;
    border: none;
    border-radius: 5px;

    .card-header {
      background: #fff;
      border: none;
      padding: 0;

      .card-header-content {
        padding: 30px;
        cursor: pointer;
      }

      h1 {
        font-size: 23px;
      }
    }

    .card-body {
      .headers {
        padding: 10px;
        .header {
          color: #aaa;
          font-weight: 500;
          width: 25%;
          display: inline-block;
        }
      }

      .metrics {
        padding: 20px;
        margin: 15px 0;
        box-shadow: 0 0 10px 0 rgb(138 138 138 / 20%);

        &:hover {
          background: #f1f1f1;
          cursor: pointer;
        }

        .metric {
          width: 25%;
          display: inline-block;

          .fa-cog {
            font-size: 20px;
            color: #888;

            &:hover {
              color: #444;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .tpc-accordion {
    .card {
      .card-body {
        padding: 10px;

        .headers {
          .header {
            width: 20%;

            &:first-child {
              width: 40%;
            }
          }
        }

        .metrics {
          .metric {
            width: 20%;
            &:first-child {
              width: 40%;
            }
          }
        }
      }
    }
  }
}


.modal--plan {
  max-width: 550px;
  box-shadow: 0 0 10px #ccc;
}

.banner-signup {
  background: #d44000;
  text-align: center;
  padding: 10px 0;
  color: #fff;
}

.btn-secondary--register {
  background-color: #f1f1f1;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.54px;
  text-align: center;
  color: #d44000;
  border: 1px transparent !important;
  padding: 0.4rem 1.5rem;
  margin-bottom: 20px;
  text-decoration: none !important;

  &:hover {
    color: #000 !important;
    text-decoration: none !important;
  }
}


.popover {
  &.popover--video {
    max-width: 600px !important;

    @media (max-width: 480px) {
      max-width: 350px !important;
    }
  }

  &.popover--update-url {
    max-width: 350px !important;
    height: 160px;

    @media (max-width: 480px) {
      width: 350px !important;
    }
  }
}

.background-gray {
  background: $secondary-color;
}
